{% comment %}
  Renders an accordion component

  Accepts:
  - title: {String} The accordion title
  - content: {String} The accordion content
  - open: {Boolean} Whether the accordion should be open by default (optional)

  Usage:
  {% render 'accordion', title: 'Anwendungsfälle', content: product.metafields.custom.usage %}
{% endcomment %}

{% assign is_open = open | default: false %}

<div class="accordion-item" data-accordion-open="{{ is_open }}">
    <button
            class="accordion-header"
            type="button"
            aria-expanded="{{ is_open }}"
            aria-controls="accordion-content-{{ title | handle }}"
    >
        <h3 class="accordion-title {{ class }}">{{ title }}</h3>
        <span class="accordion-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="" fill-rule="evenodd" d="M17.028 10.397A7.586 7.586 0 0 0 15.53 8.93L11.002 5.2c-.467-.39-.957-.752-1.467-1.084a1.387 1.387 0 0 0-.717-.223.542.542 0 0 0-.542.542c0 .462 0 0 1.833 1.785l4.081 4.177c.192.191.495.43.766.717.27.287.43.367.287.383-.104.237-.25.453-.43.638-.32.366-.686.7-.925.94a21.812 21.812 0 0 1-2.041 1.977 21.019 21.019 0 0 1-2.232 1.722l-2.248 1.594a2.645 2.645 0 0 0-.67.621.67.67 0 0 0 .112.91c.51.51.224.143 3.62-1.723a21.157 21.157 0 0 0 2.582-1.594 25.952 25.952 0 0 0 2.36-1.945 11.931 11.931 0 0 0 1.466-1.594c.27-.357.455-.772.542-1.211a2.184 2.184 0 0 0-.351-1.435z" clip-rule="evenodd"/></svg>
        </span>
    </button>

    <div
            class="accordion-content {% if is_open %}accordion-content--open{% endif %}"
            id="accordion-content-{{ title | handle }}"
            aria-hidden="{% if is_open %}false{% else %}true{% endif %}"
    >
        <div class="accordion-content-inner">
            <p>{{ content }}</p>
        </div>
    </div>
</div>