<nav class="header-nav hide-mobile" role="navigation" aria-label="Main navigation">
    <ul class="header-nav-list">
        {% for link in main_menu_linklist.links %}
            <li class="header-nav-item{% if link.links != blank %} has-dropdown{% endif %}">
                {% if link.links != blank %}
                    <button class="header-nav-link header-nav-dropdown-toggle{% if link.active %} current-page{% endif %}"
                            type="button"
                            aria-expanded="false"
                            aria-controls="dropdown-{{ link.handle }}"
                            aria-haspopup="true">
                        {{ link.title }}

                        <svg xmlns="http://www.w3.org/2000/svg" class="header-dropdown-icon" height="16" width="16" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.028 10.3969C16.5988 9.84099 16.0945 9.3474 15.5295 8.93022L11.0021 5.19988C10.5352 4.80976 10.0454 4.44778 9.53547 4.11585C9.32143 3.97688 9.0732 3.89965 8.81809 3.89267C8.67434 3.89267 8.53648 3.94977 8.43483 4.05142C8.33319 4.15307 8.27608 4.29093 8.27608 4.43469C8.27608 4.89699 8.27608 4.43469 10.1094 6.22015L14.1904 10.3969C14.3817 10.5882 14.6846 10.8273 14.9556 11.1142C15.2266 11.4012 15.386 11.4809 15.2426 11.4968C15.1389 11.7337 14.993 11.9497 14.8121 12.1345C14.4933 12.5012 14.1267 12.8359 13.8875 13.075C13.251 13.7776 12.5694 14.4379 11.847 15.0518C11.1424 15.675 10.3968 16.2502 9.61518 16.7735L7.36741 18.3677C7.10986 18.5345 6.8833 18.7449 6.69786 18.9894C6.59761 19.1267 6.55336 19.297 6.57409 19.4658C6.59481 19.6345 6.67896 19.7891 6.80945 19.8981C7.31958 20.4082 7.03263 20.0415 10.4282 18.1764C11.3261 17.7075 12.1892 17.1747 13.0107 16.5822C13.8347 15.9808 14.6226 15.3314 15.3701 14.6373C15.9063 14.1515 16.3972 13.6179 16.8367 13.0432C17.1066 12.6855 17.2919 12.2712 17.3788 11.8316C17.432 11.3271 17.308 10.8199 17.028 10.3969Z" fill="#3F593F"/>
                        </svg>
                    </button>
                    <ul class="header-dropdown" id="dropdown-{{ link.handle }}" aria-label="Submenu for {{ link.title }}">
                        {% for childlink in link.links %}
                            <li class="header-dropdown-item{% if childlink.links != blank %} has-subdropdown{% endif %}">
                                {% if childlink.links != blank %}
                                    <button class="header-subdropdown-toggle lead{% if childlink.active %} current-page{% endif %}"
                                            type="button"
                                            aria-expanded="false"
                                            aria-controls="subdropdown-{{ childlink.handle }}"
                                            aria-haspopup="true">
                                        {{ childlink.title }}
                                        <svg xmlns="http://www.w3.org/2000/svg" class="header-subdropdown-icon" height="16" width="16" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.028 10.3969C16.5988 9.84099 16.0945 9.3474 15.5295 8.93022L11.0021 5.19988C10.5352 4.80976 10.0454 4.44778 9.53547 4.11585C9.32143 3.97688 9.0732 3.89965 8.81809 3.89267C8.67434 3.89267 8.53648 3.94977 8.43483 4.05142C8.33319 4.15307 8.27608 4.29093 8.27608 4.43469C8.27608 4.89699 8.27608 4.43469 10.1094 6.22015L14.1904 10.3969C14.3817 10.5882 14.6846 10.8273 14.9556 11.1142C15.2266 11.4012 15.386 11.4809 15.2426 11.4968C15.1389 11.7337 14.993 11.9497 14.8121 12.1345C14.4933 12.5012 14.1267 12.8359 13.8875 13.075C13.251 13.7776 12.5694 14.4379 11.847 15.0518C11.1424 15.675 10.3968 16.2502 9.61518 16.7735L7.36741 18.3677C7.10986 18.5345 6.8833 18.7449 6.69786 18.9894C6.59761 19.1267 6.55336 19.297 6.57409 19.4658C6.59481 19.6345 6.67896 19.7891 6.80945 19.8981C7.31958 20.4082 7.03263 20.0415 10.4282 18.1764C11.3261 17.7075 12.1892 17.1747 13.0107 16.5822C13.8347 15.9808 14.6226 15.3314 15.3701 14.6373C15.9063 14.1515 16.3972 13.6179 16.8367 13.0432C17.1066 12.6855 17.2919 12.2712 17.3788 11.8316C17.432 11.3271 17.308 10.8199 17.028 10.3969Z" fill="#3F593F"/>
                                        </svg>
                                    </button>
                                    <ul class="header-subdropdown" id="subdropdown-{{ childlink.handle }}" aria-label="Submenu for {{ childlink.title }}">
                                        {% for subchildlink in childlink.links %}
                                            <li class="header-subdropdown-item">
                                                <a href="{{ subchildlink.url }}" class="lead{% if subchildlink.active %} current-page{% endif %}">{{ subchildlink.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <a href="{{ childlink.url }}" class="lead{% if childlink.active %} current-page{% endif %}">{{ childlink.title }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <a href="{{ link.url }}" class="header-nav-link{% if link.active %} current-page{% endif %}">{{ link.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
