<style>
    .section-title {
        background-color: #DFECDF;
        padding: 10px 20px;
        margin-bottom: 20px;
        display: block;
        width: 100%;
    }

    .heading-label {
        background-color: #c5d9c5;
        padding: 10px;
        margin-bottom: 15px;
        display: block;
        width: 100%;
    }

    .inline {
        display: inline-flex;
        gap: 24px;
    }

    .radio-item,
    .checkbox-item {
        display: flex;
    }

    section {
        margin-block: 80px;
    }
</style>
<section>
    <div class="container">
        <h2 class="section-title">Section Typography</h2>

        <div class="heading-label">
            <p>H1</p>
        </div>
        <h1>H1 Example Text</h1>

        <div class="heading-label">
            <p>H2</p>
        </div>
        <h2>H2 Example Text</h2>

        <div class="heading-label">
            <p>H3</p>
        </div>
        <h3>H3 Example Text</h3>

        <div class="heading-label">
            <p>H4</p>
        </div>
        <h4>H4 Example Text</h4>

        <div class="heading-label">
            <p>H5</p>
        </div>
        <h5>H5 Example Text</h5>

        <div class="heading-label">
            <p>H6</p>
        </div>
        <h6>H6 Example Text</h6>

        <div class="heading-label">
            <p>P with class="lead"</p>
        </div>
        <p class="text--lead">This is a lead paragraph with class text--lead</p>

        <div class="heading-label">
            <p>P</p>
        </div>
        <p>This is a regular paragraph without any special class</p>

        <div class="heading-label">
            <p>P with class="meta"</p>
        </div>
        <p class="text--meta">This is a meta text paragraph with class text--meta</p>

        <div class="heading-label">
            <p>A</p>
        </div>
        <a href="#">This is a link example</a>
    </div>
</section>

<section>
    <div class="container">

        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatum, quibusdam, quia, voluptate quod voluptas quas quae quos dolorum dolores quidem.</p>

        <h2>Consectetur adipisicing elit</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatum, quibusdam, quia, voluptate quod voluptas quas quae quos dolorum dolores quidem.</p>

        <h3>Sed do eiusmod tempor</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatum, quibusdam, quia, voluptate quod voluptas quas quae quos dolorum dolores quidem.</p>

        <h4>Ut enim ad minim veniam</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatum, quibusdam, quia, voluptate quod voluptas quas quae quos dolorum dolores quidem.</p>

        <h5>Quis nostrud exercitation</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatum, quibusdam, quia, voluptate quod voluptas quas quae quos dolorum dolores quidem.</p>

        <h6>Ullamco laboris nisi</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatum, quibusdam, quia, voluptate quod voluptas quas quae quos dolorum dolores quidem.</p>

        <p class="lead">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatum, quibusdam, quia, voluptate quod voluptas quas quae quos dolorum dolores quidem.</p>

        <button class="button-primary">Jetzt kaufen</button>

        <p class="meta">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>

        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
            <li>Quisquam voluptatum quibusdam quia voluptate quod</li>
            <li>Voluptas quas quae quos dolorum dolores quidem</li>
            <li>Sed do eiusmod tempor incididunt ut labore</li>
            <li>Ut enim ad minim veniam quis nostrud exercitation</li>
            <li>Ullamco laboris nisi ut aliquip ex ea commodo</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate</li>
        </ul>

        <blockquote class="h6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatum, quibusdam, quia, voluptate quod voluptas quas quae quos dolorum dolores quidem. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </blockquote>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="section-title">Buttons</h2>

        <br><br>
        <div class="inline">
            <button class="button-primary icon--right">Button Right</button>
            <button class="button-primary icon--left">Button Left</button>
            <button class="button-primary">Button Primary</button>
            <button class="button-primary icon"></button>
        </div>
        <br><br>
        <div class="inline">
            <button class="button-primary icon--right" disabled>Button Right</button>
            <button class="button-primary icon--left" disabled>Button Left</button>
            <button class="button-primary" disabled>Button Primary</button>
            <button class="button-primary icon" disabled></button>
        </div>
        <br><br>
        <div class="inline">
            <button class="button-primary icon--right" autofocus>Button Right</button>
            <button class="button-primary icon--left" autofocus>Button Left</button>
            <button class="button-primary" autofocus>Button Primary</button>
            <button class="button-primary icon" autofocus></button>
        </div>

        <h2 class="section-title">Section Buttons Secondary</h2>

        <br><br>
        <div class="inline">
            <button class="button-secondary icon--right">Button Right</button>
            <button class="button-secondary icon--left">Button Left</button>
            <button class="button-secondary">Button Primary</button>
            <button class="button-secondary icon"></button>
        </div>

        <br><br>
        <div class="inline">
            <button class="button-secondary icon--right" disabled>Button Right</button>
            <button class="button-secondary icon--left" disabled>Button Left</button>
            <button class="button-secondary" disabled>Button Primary</button>
            <button class="button-secondary icon" disabled></button>

        </div>

        <h2 class="section-title">Buttons Teritär</h2>

        <br><br>
        <div class="inline">
            <button class="button-tertiary">Button Primary</button>
            <button class="button-tertiary icon--right">Button Right</button>
            <button class="button-tertiary icon--left">Button Left</button>
        </div>

        <br><br>

        <div class="inline">
            <button class="button-tertiary" disabled>Button Primary</button>
            <button class="button-tertiary icon--right" disabled>Button Right</button>
            <button class="button-tertiary icon--left" disabled>Button Left</button>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="section-title">Inputfield und Select</h2>

        <br><br>
        <!-- Normal Form Elements -->
        <div class="inline">
            <div class="form-group">
                <input type="text" id="name-{{ section.id }}" placeholder="">
                <label for="name-{{ section.id }}">Label Text</label>
            </div>
            <div class="form-group">
                <input type="text" id="name2-{{ section.id }}" placeholder="">
                <label for="name2-{{ section.id }}">Label Text</label>
            </div>
            <select class="dropdown" id="select-{{ section.id }}">
                <option value="">Select option</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
        </div>
        <br><br>

        <!-- Disabled Form Elements -->
        <div class="inline">
            <div class="form-group">
                <input type="text" id="name-disabled-{{ section.id }}" placeholder="" disabled>
                <label for="name-disabled-{{ section.id }}">Label Text</label>
            </div>
            <div class="form-group">
                <input type="text" id="name2-disabled-{{ section.id }}" placeholder="" disabled>
                <label for="name2-disabled-{{ section.id }}">Label Text</label>
            </div>
            <select class="dropdown" id="select-disabled-{{ section.id }}" disabled>
                <option value="">Select option</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
        </div>
        <br><br>

        <!-- Error State Form Elements -->
        <div class="inline">
            <div class="form-group">
                <input type="text" id="name-error-{{ section.id }}" placeholder="" class="form-error has-content" value="John Doe">
                <label for="name-error-{{ section.id }}">Label Text</label>
                <span class="error-message">Bitte ausfüllen</span>
            </div>
            <div class="form-group">
                <input type="text" id="name2-error-{{ section.id }}" placeholder="" class="form-error has-content" value="invalid@email">
                <label for="name2-error-{{ section.id }}">Label Text</label>
                <span class="error-message">Bitte ausfüllen</span>
            </div>
            <div class="select-group">
                <select class="dropdown form-error" id="select-error-{{ section.id }}">
                    <option value="">Select option</option>
                    <option value="option1" selected>Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
                <span class="error-message">Bitte ausfüllen</span>
            </div>
        </div>
        <br><br>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="section-title">Radiobuttons, Checkmarks, Switches</h2>

        <p class="state-title">Normal Form Elements</p>
        <div class="inline">

            <div class="radio-group">
                <div class="radio-item">
                    <input type="radio" id="radio1-1" name="radio-1" value="option1">
                    <label for="radio1-1">Radio Option</label>
                </div>
            </div>
            <div class="checkbox-group">
                <div class="checkbox-item">
                    <input type="checkbox" id="check1-1">
                    <label for="check1-1">Checkbox Option</label>
                </div>
            </div>
            <div class="switch-group">
                <div class="switch-item">
                    <label class="switch" for="switch1-1">
                        <input type="checkbox" id="switch1-1">
                        <span class="slider"></span>
                    </label>
                    <label for="switch1-1">Switch Option</label>
                </div>
            </div>
        </div>
        <br>
        <p class="state-title">Disabled Form Elements</p>
        <div class="inline">

            <div class="radio-group">
                <div class="radio-item">
                    <input type="radio" id="radio1-disabled-1" name="radio-disabled-1" value="option1" disabled checked>
                    <label for="radio1-disabled-1">Radio Option</label>
                </div>
            </div>
            <div class="checkbox-group">
                <div class="checkbox-item">
                    <input type="checkbox" id="check1-disabled-1" disabled checked>
                    <label for="check1-disabled-1">Checkbox Option</label>
                </div>
            </div>
            <div class="switch-group">
                <div class="switch-item">
                    <label class="switch" for="switch1-disabled-1">
                        <input type="checkbox" id="switch1-disabled-1" disabled checked>
                        <span class="slider"></span>
                    </label>
                    <label for="switch1-disabled-1">Switch Option</label>
                </div>
            </div>
        </div>
<br>
        <p class="state-title">Error State Form Elements</p>
        <div class="inline">

            <div class="radio-group">
                <div class="radio-item">
                    <input type="radio" id="radio1-error-1" name="radio-error-1" value="option1" class="form-error" checked>
                    <label for="radio1-error-1">Radio Option</label>
                </div>
                <span class="error-message meta">Bitte auswählen</span>
            </div>
            <div class="checkbox-group">
                <div class="checkbox-item">
                    <input type="checkbox" id="check1-error-1" class="form-error" checked>
                    <label for="check1-error-1">Checkbox Option</label>
                </div>
                <span class="error-message meta">Bitte bestätigen</span>
            </div>

        </div>
    </div>
</section>

<script>
    // Add has-content class to inputs with values
    document.querySelectorAll('input[type="text"]').forEach(input => {
        if (input.value) {
            input.classList.add('has-content');
        }

        input.addEventListener('input', function() {
            if (this.value) {
                this.classList.add('has-content');
            } else {
                this.classList.remove('has-content');
            }
        });
    });
</script>

<section class="background-contrast" style="background-color: var(--button-background-color)">
    <div class="container">
        <h2 class="section-title">Buttons mit Kontrasthintergrund</h2>
        <br><br>
        <div class="inline">
            <button class="button-primary icon--right">Button Right</button>
            <button class="button-primary icon--left">Button Left</button>
            <button class="button-primary">Button Primary</button>
            <button class="button-primary icon"></button>
        </div>

        <br><br>
        <div class="inline">
            <button class="button-primary icon--right" disabled>Button Right</button>
            <button class="button-primary icon--left" disabled>Button Left</button>
            <button class="button-primary" disabled>Button Primary</button>
            <button class="button-primary icon" disabled></button>
        </div>

        <br><br>
        <div class="inline">
            <button class="button-secondary icon--right">Button Right</button>
            <button class="button-secondary icon--left">Button Left</button>
            <button class="button-secondary">Button Primary</button>
            <button class="button-secondary icon"></button>

        </div>

        <br><br>
        <div class="inline">
            <button class="button-secondary icon--right" disabled>Button Right</button>
            <button class="button-secondary icon--left" disabled>Button Left</button>
            <button class="button-secondary" disabled>Button Primary</button>
            <button class="button-secondary icon" disabled></button>
        </div>

        <br><br>
        <div class="inline">
            <button class="button-tertiary" disabled>Button Primary</button>
            <button class="button-tertiary icon--right" disabled>Button Right</button>
            <button class="button-tertiary icon--left" disabled>Button Left</button>
        </div>
    </div>
</section>

<section class="background-contrast" style="background-color: var(--color-text)">
    <div class="container">
        <h2 class="section-title">Buttons mit Kontrasthintergrund</h2>

        <br><br>
        <div class="inline">
            <button class="button-primary icon--right">Button Right</button>
            <button class="button-primary icon--left">Button Left</button>
            <button class="button-primary">Button Primary</button>
            <button class="button-primary icon"></button>
        </div>

        <br><br>
        <div class="inline">
            <button class="button-primary icon--right" disabled>Button Right</button>
            <button class="button-primary icon--left" disabled>Button Left</button>
            <button class="button-primary" disabled>Button Primary</button>
            <button class="button-primary icon" disabled></button>
        </div>

        <br><br>
        <div class="inline">
            <button class="button-secondary icon--right">Button Right</button>
            <button class="button-secondary icon--left">Button Left</button>
            <button class="button-secondary">Button Primary</button>
            <button class="button-secondary icon"></button>
        </div>

        <br><br>
        <div class="inline">
            <button class="button-secondary icon--right" disabled>Button Right</button>
            <button class="button-secondary icon--left" disabled>Button Left</button>
            <button class="button-secondary" disabled>Button Primary</button>
            <button class="button-secondary icon" disabled></button>
        </div>

        <br><br>
        <div class="inline">
            <button class="button-tertiary" disabled>Button Primary</button>
            <button class="button-tertiary icon--right" disabled>Button Right</button>
            <button class="button-tertiary icon--left" disabled>Button Left</button>
        </div>
    </div>
</section>


{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured Collection",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "BaseStyle"
    }
  ]
}
{% endschema %}