{% liquid
  if section.settings.menu.links == blank
    assign main_menu_linklist = linklists[section.settings.menu].links
  else
    assign main_menu_linklist = section.settings.menu.links
  endif
%}

<div class="header-wrapper">
  {% render 'header-usp-bar' %}

  <header id="header" class="header" role="banner">
    <div class="container">
      <div class="header-inner">
        {% render 'header-desktop-nav', main_menu_linklist: linklists.main-menu %}

        {% render 'header-logo' %}

        {% comment %} {% render 'header-buttons' %} {% endcomment %}

        {% comment %}{% render 'header-searchbar' %}{% endcomment %}

    <nav class="mobile-navigation" id="mobile-navigation" aria-label="Mobile navigation" aria-hidden="true">
      <div class="mobile-navigation-inner">
        {% render 'header-mobile-nav--header' %}

        {% comment %}{% render 'header-mobile-search' %}{% endcomment %}

        {% render 'header-mobile-nav', main_menu_linklist: linklists.main-menu %}
      </div>

      <div class="mobile-nav-footer">
        <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
           class="mobile-nav-footer-link button-tertiary">
          <img src="{{ 'icon-header--avatar.svg' | asset_url }}" aria-hidden="true">
          {% if customer %}My Account{% else %}Login{% endif %}
        </a>
        <a href="{{ routes.cart_url }}"
           class="button-tertiary"
           aria-label="Shopping cart with {{ cart.item_count }} {% if cart.item_count == 1 %}item{% else %}items{% endif %}">
          <img src="{{ 'icon-header--shopping-bag.svg' | asset_url }}" aria-hidden="true">
          Zum Warenkorb
        </a>
        {% comment %}<a href="{{ routes.account_url }}" class="mobile-nav-footer-link button-tertiary">{% endcomment %}
          {% comment %}<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">{% endcomment %}
            {% comment %}<path d="M12.688 20.3519C12.6219 20.4146 12.5805 20.4989 12.5711 20.5895C12.5618 20.6801 12.5851 20.7711 12.6369 20.8459C12.6888 20.9208 12.7657 20.9747 12.8538 20.9978C12.9419 21.0209 13.0354 21.0118 13.1173 20.972C14.9414 19.7134 17.0019 17.9888 18.5971 16.1913C22.2165 12.1131 24.1209 7.31474 20.2723 4.27717C17.9946 2.45266 14.3098 2.98928 12.0679 7.34187C11.7698 6.7814 11.4836 6.14938 11.4121 6.05398C8.4189 1.62984 3.80397 2.40496 2.31335 5.77971C0.30997 10.2515 3.26735 18.0743 11.0066 20.8886C11.0483 20.9096 11.0939 20.9217 11.1405 20.9241C11.1872 20.9264 11.2338 20.919 11.2773 20.9022C11.3209 20.8854 11.3605 20.8597 11.3935 20.8267C11.4265 20.7936 11.4522 20.7541 11.469 20.7105C11.4857 20.6669 11.4932 20.6203 11.4908 20.5737C11.4884 20.527 11.4763 20.4814 11.4552 20.4398C11.4341 20.3981 11.4045 20.3613 11.3683 20.3318C11.3321 20.3023 11.2902 20.2807 11.2451 20.2685C9.06346 19.4125 7.27502 17.9503 5.91391 16.436C3.19798 13.4143 2.17892 9.70875 3.1004 6.86487C4.12594 3.72862 7.78688 3.02506 10.4104 6.74563C10.5177 6.88872 10.9828 7.93812 11.3405 8.52244C11.889 9.4168 12.533 9.39295 12.9027 8.86826C13.0498 8.61483 13.147 8.3355 13.1889 8.04544C15.0849 4.28909 17.9588 3.8121 19.6402 5.15961C22.8721 7.67417 20.9129 12.0462 17.7129 15.7538C16.1781 17.5321 14.3579 19.1575 12.688 20.3519Z" fill="#2F4027"/>{% endcomment %}
            {% comment %}<path d="M6.29173 2.7922C8.08601 2.7267 10.0457 3.68254 11.572 5.93381L11.6228 6.01681C11.6414 6.05026 11.661 6.08821 11.6804 6.12619C11.7228 6.2093 11.7761 6.31626 11.8347 6.43576C11.9054 6.57977 11.9884 6.7419 12.073 6.90939C13.1896 4.9071 14.6304 3.74665 16.0984 3.30197C17.6484 2.83246 19.207 3.16823 20.3962 4.12033L20.5769 4.26779C21.4629 5.01421 22.0331 5.86446 22.3327 6.78537C22.6519 7.76612 22.6599 8.81456 22.4304 9.88595C21.9726 12.0234 20.5668 14.2737 18.7468 16.3244C17.1387 18.1364 15.0646 19.8712 13.2302 21.1369L13.2185 21.1457L13.2048 21.1526C13.0799 21.2132 12.9367 21.2269 12.8025 21.1916C12.6684 21.1564 12.5514 21.0741 12.4724 20.9602C12.3935 20.8461 12.3577 20.7075 12.3718 20.5695C12.3861 20.4315 12.4498 20.3028 12.5505 20.2072L12.5603 20.1975L12.571 20.1897C14.2284 19.0042 16.0372 17.3891 17.5613 15.6233C19.1529 13.7792 20.4197 11.7868 20.8943 9.9592C21.131 9.04765 21.1683 8.18594 20.9587 7.40646C20.7499 6.62993 20.2932 5.92128 19.5173 5.3176L19.5154 5.31564C18.7303 4.68645 17.6639 4.47988 16.5622 4.87717C15.4626 5.27387 14.3095 6.28063 13.3796 8.11154C13.3313 8.4135 13.2286 8.70434 13.0749 8.96896L13.071 8.97678L13.0661 8.98361C12.8509 9.28911 12.53 9.47982 12.1599 9.42599C11.8456 9.38013 11.5449 9.164 11.281 8.79513L11.1697 8.62717C10.9853 8.32603 10.7761 7.90897 10.6023 7.55685C10.5145 7.37901 10.4356 7.21862 10.3718 7.09201C10.34 7.02882 10.3129 6.97553 10.2908 6.93478C10.2797 6.91449 10.2699 6.89849 10.2624 6.88595C10.2588 6.87985 10.256 6.87487 10.2536 6.87131C10.2513 6.86765 10.2497 6.86545 10.2497 6.86545L10.2468 6.86154C8.96247 5.04011 7.45178 4.33772 6.17064 4.43381C4.89267 4.52975 3.78154 5.42322 3.28978 6.92599C2.39665 9.68236 3.37836 13.3169 6.06224 16.3029C7.40903 17.8013 9.17338 19.2408 11.3181 20.0822L11.3171 20.0832C11.3815 20.1035 11.4424 20.1342 11.4949 20.177C11.5526 20.2241 11.5998 20.2833 11.6335 20.3498C11.6672 20.4164 11.6864 20.4892 11.6902 20.5637C11.694 20.6383 11.6818 20.7128 11.655 20.7824C11.6283 20.852 11.5875 20.9152 11.5349 20.968C11.4822 21.0207 11.4189 21.0622 11.3493 21.0891C11.2798 21.1159 11.205 21.1279 11.1306 21.1242C11.0639 21.1209 10.999 21.1028 10.9382 21.0754V21.0764C7.01896 19.6512 4.30621 16.9559 2.82786 14.0461C1.35264 11.1423 1.09777 8.00413 2.1306 5.69845C2.90556 3.94464 4.49786 2.85772 6.29173 2.7922ZM11.4118 6.05392C8.41881 1.63013 3.80399 2.40513 2.31322 5.77951L2.2224 5.9924C0.403317 10.4955 3.38854 18.1187 11.0066 20.8889C11.0272 20.8993 11.0488 20.9074 11.071 20.9133L11.1404 20.924C11.1636 20.9252 11.1868 20.9238 11.2097 20.9201L11.2771 20.9026C11.2991 20.8941 11.32 20.8831 11.3396 20.8703L11.3933 20.8274C11.4098 20.8108 11.4246 20.7922 11.4372 20.7727L11.4685 20.7111C11.4768 20.6895 11.4834 20.6666 11.487 20.6438L11.491 20.5735C11.4885 20.527 11.4759 20.4812 11.4548 20.4397C11.4442 20.4188 11.4314 20.3992 11.4167 20.3811L11.3679 20.3322C11.3317 20.3027 11.2899 20.281 11.2449 20.2688C9.19939 19.4663 7.49961 18.1307 6.17357 16.719L5.9138 16.4358C3.19807 13.4142 2.17901 9.70924 3.10033 6.86545C4.12587 3.7292 7.78642 3.02574 10.4099 6.74631C10.5175 6.89019 10.983 7.93863 11.3406 8.52267C11.8891 9.41683 12.5324 9.39296 12.9021 8.86838C13.0492 8.6151 13.1463 8.33599 13.1882 8.04611C15.0843 4.28977 17.959 3.81188 19.6404 5.15939C22.8722 7.67395 20.9127 12.0465 17.7126 15.7541L17.1247 16.4133C15.7255 17.9319 14.1492 19.3067 12.6882 20.3518L12.6433 20.4026C12.6031 20.457 12.5781 20.5219 12.571 20.5901L12.5701 20.6574C12.5751 20.7247 12.5977 20.7898 12.6365 20.8459C12.6883 20.9207 12.7653 20.9751 12.8533 20.9983C12.9414 21.0214 13.035 21.0117 13.1169 20.9719C14.827 19.7919 16.7452 18.2028 18.2927 16.5276L18.5964 16.1916C22.1026 12.241 23.9997 7.61451 20.616 4.5676L20.2722 4.27756C17.9946 2.45308 14.31 2.98964 12.0681 7.34201C11.8446 6.92176 11.6273 6.46133 11.5027 6.21701L11.4118 6.05392Z" fill="#2F4027"/>{% endcomment %}
          {% comment %}</svg>{% endcomment %}
          {% comment %}Wishlist{% endcomment %}
        {% comment %}</a>{% endcomment %}
      </div>
    </nav>
  </header>


  <div class="header-background-decor">
    <img src="{{ 'decor-header-background.svg' | asset_url }}" alt="" aria-hidden="true">
  </div>

</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Main Navigation Menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo Width",
      "min": 50,
      "max": 300,
      "step": 10,
      "default": 150,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "usp",
      "name": "USP Item",
      "limit": 4,
      "settings": [
        {
          "type": "select",
          "id": "icon_type",
          "label": "Icon Type",
          "options": [
            {
              "value": "stars",
              "label": "5 Stars"
            },
            {
              "value": "checkmark",
              "label": "Checkmark"
            }
          ],
          "default": "checkmark"
        },
        {
          "type": "text",
          "id": "text",
          "label": "USP Text",
          "default": "Gratis Versand ab 20€"
        }
      ]
    }
  ]
}
{% endschema %}