{% liquid
  if section.settings.menu.links == blank
    assign main_menu_linklist = linklists[section.settings.menu].links
  else
    assign main_menu_linklist = section.settings.menu.links
  endif
%}

<div class="header-wrapper">
  {% if section.blocks.size > 0 %}
    <div class="header-usp-bar hide-mobile" role="complementary" aria-label="Shop benefits">
      <div class="container">
        <ul class="header-usp-list">
          {% for block in section.blocks %}
            {% if block.type == 'usp' %}
              <li class="header-usp-item meta">
                {% if block.settings.icon_type == 'stars' %}
                  <img src="{{ 'icon-header--five-stars.svg' | asset_url }}"
                       alt=""
                       width="72"
                       height="16"
                       class="header-usp-icon"
                       aria-hidden="true">
                {% elsif block.settings.icon_type == 'checkmark' %}
                  <img src="{{ 'icon-header--checkmark-circle.svg' | asset_url }}"
                       alt=""
                       width="16"
                       height="16"
                       class="header-usp-icon"
                       aria-hidden="true">
                {% endif %}
                <span class="header-usp-text">{{ block.settings.text }}</span>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  <header id="header" class="header" role="banner">
    <div class="container">
      <div class="header-inner">
        <nav class="header-nav hide-mobile" role="navigation" aria-label="Main navigation">
          <ul class="header-nav-list">
            {% for link in main_menu_linklist %}
              <li class="header-nav-item{% if link.links != blank %} has-dropdown{% endif %}">
                {% if link.links != blank %}
                  <button class="header-nav-link header-nav-dropdown-toggle"
                          type="button"
                          aria-expanded="false"
                          aria-controls="dropdown-{{ link.handle }}"
                          aria-haspopup="true">
                    {{ link.title }}

                    <svg xmlns="http://www.w3.org/2000/svg" class="header-dropdown-icon" height="16" width="16" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M17.028 10.3969C16.5988 9.84099 16.0945 9.3474 15.5295 8.93022L11.0021 5.19988C10.5352 4.80976 10.0454 4.44778 9.53547 4.11585C9.32143 3.97688 9.0732 3.89965 8.81809 3.89267C8.67434 3.89267 8.53648 3.94977 8.43483 4.05142C8.33319 4.15307 8.27608 4.29093 8.27608 4.43469C8.27608 4.89699 8.27608 4.43469 10.1094 6.22015L14.1904 10.3969C14.3817 10.5882 14.6846 10.8273 14.9556 11.1142C15.2266 11.4012 15.386 11.4809 15.2426 11.4968C15.1389 11.7337 14.993 11.9497 14.8121 12.1345C14.4933 12.5012 14.1267 12.8359 13.8875 13.075C13.251 13.7776 12.5694 14.4379 11.847 15.0518C11.1424 15.675 10.3968 16.2502 9.61518 16.7735L7.36741 18.3677C7.10986 18.5345 6.8833 18.7449 6.69786 18.9894C6.59761 19.1267 6.55336 19.297 6.57409 19.4658C6.59481 19.6345 6.67896 19.7891 6.80945 19.8981C7.31958 20.4082 7.03263 20.0415 10.4282 18.1764C11.3261 17.7075 12.1892 17.1747 13.0107 16.5822C13.8347 15.9808 14.6226 15.3314 15.3701 14.6373C15.9063 14.1515 16.3972 13.6179 16.8367 13.0432C17.1066 12.6855 17.2919 12.2712 17.3788 11.8316C17.432 11.3271 17.308 10.8199 17.028 10.3969Z" fill="#3F593F"/>
                    </svg>
                  </button>
                  <ul class="header-dropdown" id="dropdown-{{ link.handle }}" aria-label="Submenu for {{ link.title }}">
                    {% for childlink in link.links %}
                      <li class="header-dropdown-item{% if childlink.links != blank %} has-subdropdown{% endif %}">
                        {% if childlink.links != blank %}
                          <button class="header-subdropdown-toggle lead"
                                  type="button"
                                  aria-expanded="false"
                                  aria-controls="subdropdown-{{ childlink.handle }}"
                                  aria-haspopup="true">
                            {{ childlink.title }}
                            <svg xmlns="http://www.w3.org/2000/svg" class="header-subdropdown-icon" height="16" width="16" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M17.028 10.3969C16.5988 9.84099 16.0945 9.3474 15.5295 8.93022L11.0021 5.19988C10.5352 4.80976 10.0454 4.44778 9.53547 4.11585C9.32143 3.97688 9.0732 3.89965 8.81809 3.89267C8.67434 3.89267 8.53648 3.94977 8.43483 4.05142C8.33319 4.15307 8.27608 4.29093 8.27608 4.43469C8.27608 4.89699 8.27608 4.43469 10.1094 6.22015L14.1904 10.3969C14.3817 10.5882 14.6846 10.8273 14.9556 11.1142C15.2266 11.4012 15.386 11.4809 15.2426 11.4968C15.1389 11.7337 14.993 11.9497 14.8121 12.1345C14.4933 12.5012 14.1267 12.8359 13.8875 13.075C13.251 13.7776 12.5694 14.4379 11.847 15.0518C11.1424 15.675 10.3968 16.2502 9.61518 16.7735L7.36741 18.3677C7.10986 18.5345 6.8833 18.7449 6.69786 18.9894C6.59761 19.1267 6.55336 19.297 6.57409 19.4658C6.59481 19.6345 6.67896 19.7891 6.80945 19.8981C7.31958 20.4082 7.03263 20.0415 10.4282 18.1764C11.3261 17.7075 12.1892 17.1747 13.0107 16.5822C13.8347 15.9808 14.6226 15.3314 15.3701 14.6373C15.9063 14.1515 16.3972 13.6179 16.8367 13.0432C17.1066 12.6855 17.2919 12.2712 17.3788 11.8316C17.432 11.3271 17.308 10.8199 17.028 10.3969Z" fill="#3F593F"/>
                            </svg>
                          </button>
                          <ul class="header-subdropdown" id="subdropdown-{{ childlink.handle }}" aria-label="Submenu for {{ childlink.title }}">
                            {% for subchildlink in childlink.links %}
                              <li class="header-subdropdown-item">
                                <a href="{{ subchildlink.url }}" class="lead">{{ subchildlink.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% else %}
                          <a href="{{ childlink.url }}" class="lead">{{ childlink.title }}</a>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <a href="{{ link.url }}" class="header-nav-link">{{ link.title }}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </nav>

        <a href="{{ routes.root_url }}" class="header-logo" aria-label="{{ shop.name }} - Home">
          {% if section.settings.logo %}
            <img src="{{ section.settings.logo | img_url: '200x' }}"
                 alt="{{ shop.name }}"
                 width="{{ section.settings.logo_width }}"
                 height="{{ section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio | round }}"
                 loading="eager">
          {% else %}
            <img src="{{ 'logo-petchen.svg' | asset_url }}">
          {% endif %}
        </a>

        <div class="header-actions">
          <button class="header-search-toggle hide-mobile button-secondary icon"
                  type="button"
                  aria-expanded="false"
                  aria-controls="header-search"
                  aria-label="Open search">
            <img src="{{ 'icon-header--magnifying-glas.svg' | asset_url }}" aria-hidden="true">
          </button>

          <a href="{{ routes.account_url }}"
             class="header-action-link hide-mobile button-secondary icon"
             aria-label="Wishlist{% if customer %}{% else %} - Login required{% endif %}">
            <img src="{{ 'icon-header--heart.svg' | asset_url }}" aria-hidden="true">
            <span class="visually-hidden">Wishlist</span>
          </a>

          <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
             class="header-action-link button-secondary icon hide-"
             aria-label="{% if customer %}My account{% else %}Login or register{% endif %}">
            <img src="{{ 'icon-header--avatar.svg' | asset_url }}" aria-hidden="true">
            <span class="visually-hidden">{% if customer %}My account{% else %}Login{% endif %}</span>
          </a>

          <a href="{{ routes.cart_url }}"
             class="header-action-link header-cart button-secondary icon"
             aria-label="Shopping cart with {{ cart.item_count }} {% if cart.item_count == 1 %}item{% else %}items{% endif %}">
            <img src="{{ 'icon-header--shopping-bag.svg' | asset_url }}" aria-hidden="true">
            {% if cart.item_count > 0 %}
              <span class="header-cart-count" aria-hidden="true">{{ cart.item_count }}</span>
            {% endif %}
            <span class="visually-hidden">Shopping cart</span>
          </a>

          <button class="header-mobile-menu-toggle hide-desktop button-secondary icon"
                  type="button"
                  aria-expanded="false"
                  aria-controls="mobile-navigation"
                  aria-label="Open navigation menu">
            <span class="header-mobile-menu-icon" aria-hidden="true">
               <img src="{{ 'icon-header--burger-button.svg' | asset_url }}" aria-hidden="true">
            </span>
          </button>
        </div>
      </div>

      <div class="header-search" id="header-search" aria-hidden="true">
        <form action="{{ routes.search_url }}" method="get" role="search" class="header-search-form">
          <div class="form-group">
            <input type="search"
                   name="q"
                   id="header-search-input"
                   class="header-search-input"
                   placeholder="Search for products..."
                   autocomplete="off"
                   aria-label="Search products">
            <label for="header-search-input">Search for products...</label>
          </div>
          <button type="submit" class="header-search-submit" aria-label="Submit search">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.297 17.1289C16.3323 17.0793 16.3241 17.0258 16.3125 16.9737C16.3008 16.9217 16.2659 16.8529 16.2255 16.818C16.2004 16.7913 16.1703 16.7699 16.1368 16.7549C16.1034 16.74 16.0673 16.7318 16.0307 16.7309C15.9941 16.73 15.9576 16.7364 15.9235 16.7496C15.8893 16.7629 15.8582 16.7828 15.8318 16.8082C15.5353 17.0039 15.027 17.225 14.7164 17.3723C14.2188 17.6094 13.5627 17.7995 13.0338 17.9549C11.6888 18.3817 10.2062 18.3737 8.80085 18.2454C7.41623 18.134 6.42263 17.5745 5.30104 16.7549C4.31687 15.9768 3.66808 15.1791 3.19541 14.0169C2.72274 12.8547 2.55929 11.5899 2.72098 10.3457C2.82463 9.0984 3.19122 7.88714 3.79662 6.79166C4.40202 5.69618 5.23252 4.7413 6.23347 3.98985C6.85203 3.54404 7.51473 3.16292 8.21114 2.85248C8.8755 2.53726 9.58431 2.3259 10.3128 2.2258C12.3273 2.05741 14.3281 2.68106 15.8901 3.96428C17.4832 5.24587 18.455 6.93286 18.9005 8.92829C19.0629 9.70353 19.097 10.426 19.0834 11.2179C19.0797 12.0038 18.9174 12.7087 18.6126 13.433C18.2981 14.0118 17.9359 14.7202 17.5319 15.2404C17.2871 15.5827 17.0401 15.8648 16.7536 16.1744C16.6838 16.2498 16.6426 16.3076 16.6368 16.4102C16.6317 16.5022 16.6667 16.5626 16.7074 16.6353C16.7484 16.7078 16.8165 16.761 16.8968 16.7834C16.977 16.8058 17.0628 16.7956 17.1355 16.7549C18.0898 15.9877 18.8758 15.0321 19.4445 13.9477C19.7962 13.1495 20.0325 12.264 20.0437 11.3918C20.0819 10.5367 20.0054 9.59154 19.8417 8.75134C19.4032 6.55369 18.1844 4.68751 16.457 3.2599C14.7408 1.77944 12.5094 1.03653 10.2482 1.19276C9.39671 1.28252 8.56451 1.50497 7.78181 1.85205C7.01717 2.18833 6.28979 2.60365 5.61154 3.09124C4.48404 3.93593 3.55146 5.01332 2.87711 6.25026C2.20277 7.4872 1.80243 8.85474 1.70328 10.2601C1.54817 11.6669 1.76657 13.0898 2.33647 14.3854C2.90637 15.681 3.80764 16.8035 4.94949 17.6399C6.20028 18.5202 7.67129 19.0352 9.19802 19.1273C10.6958 19.2195 12.1971 19.0168 13.6168 18.5307C14.1709 18.3529 14.65 18.1674 15.2324 17.8756C15.6876 17.6475 16.0939 17.4141 16.297 17.1289Z" fill="currentColor"/>
              <path d="M7.70076 1.66892C8.40239 1.3578 9.14296 1.14468 9.90151 1.03462L10.2276 0.993717L10.2345 0.993179L10.6676 0.974371C12.8298 0.931688 14.938 1.68727 16.5839 3.10555C18.2324 4.4679 19.4311 6.22784 19.9441 8.29513L20.0377 8.7135C20.2037 9.56584 20.2809 10.5236 20.2428 11.3935L20.244 11.3942C20.2323 12.2995 19.987 13.2125 19.6274 14.0289L19.6221 14.0411L19.6209 14.0403C19.0395 15.149 18.2365 16.1264 17.2608 16.9108L17.2482 16.9216L17.2331 16.93C17.1144 16.9963 16.9741 17.0127 16.8432 16.9761C16.7122 16.9395 16.601 16.8524 16.5339 16.7341L16.5327 16.7334C16.4944 16.665 16.4279 16.556 16.4368 16.3986C16.4465 16.2272 16.5251 16.1263 16.6064 16.0384C16.8907 15.7312 17.132 15.4565 17.3696 15.1242L17.3741 15.1172C17.7625 14.6169 18.1119 13.9341 18.4296 13.3491C18.7239 12.6481 18.8799 11.9714 18.8835 11.2172L18.8838 11.2141C18.8972 10.4313 18.8632 9.72575 18.7054 8.97144L18.6173 8.60888C18.1475 6.81193 17.2219 5.29232 15.7652 4.12024L15.7628 4.11876C14.2418 2.86935 12.2939 2.26109 10.3324 2.42428C9.62685 2.52201 8.94071 2.72823 8.29716 3.03356L8.29261 3.03558C7.60882 3.34041 6.95823 3.71461 6.35086 4.15232L6.3497 4.15158C5.37291 4.88563 4.56269 5.81854 3.97163 6.88796C3.37989 7.95872 3.02173 9.1431 2.92041 10.3623L2.91947 10.3715C2.76223 11.5814 2.9211 12.8117 3.38075 13.9419C3.83761 15.065 4.46131 15.835 5.41872 16.5932C6.52866 17.4042 7.48643 17.9387 8.8167 18.0458L8.81882 18.0463C10.2158 18.1738 11.667 18.1791 12.9737 17.7645L12.9773 17.7627C13.5112 17.6058 14.1507 17.4205 14.6308 17.1917L15.1923 16.9281C15.3893 16.8329 15.5812 16.7343 15.7216 16.6416C15.7608 16.6092 15.8038 16.582 15.8513 16.5636C15.9101 16.5407 15.9731 16.5296 16.0362 16.5312C16.0991 16.5328 16.1611 16.5468 16.2185 16.5725C16.2695 16.5953 16.3147 16.6282 16.3548 16.6671L16.3567 16.6667C16.3592 16.6689 16.3609 16.6719 16.3633 16.6742C16.3656 16.6765 16.3685 16.6782 16.3708 16.6805C16.4081 16.7165 16.4356 16.7579 16.4551 16.7937C16.4778 16.8355 16.4972 16.8833 16.5076 16.9301C16.5193 16.9822 16.5509 17.1174 16.46 17.245C16.3383 17.4158 16.1632 17.561 15.9701 17.6898C15.7757 17.8193 15.5518 17.9398 15.3222 18.0548C14.7303 18.3514 14.2416 18.5391 13.6805 18.7192C12.2363 19.2137 10.709 19.4211 9.18536 19.3273C7.62194 19.2328 6.11572 18.7049 4.83482 17.8035L4.83132 17.8013C3.66112 16.9442 2.73702 15.7934 2.15297 14.4656C1.56952 13.139 1.34628 11.6822 1.50448 10.2417C1.60617 8.80925 2.0144 7.41511 2.70178 6.15426C3.38979 4.89237 4.34121 3.79335 5.49144 2.93156L5.49482 2.92881C6.1842 2.43321 6.92358 2.01075 7.70076 1.66892ZM10.2482 1.19276C9.39671 1.28252 8.56451 1.50497 7.78181 1.85205C7.01717 2.18833 6.28979 2.60365 5.61154 3.09124C4.48404 3.93593 3.55146 5.01332 2.87711 6.25026C2.20277 7.4872 1.80243 8.85474 1.70328 10.2601C1.54817 11.6669 1.76657 13.0898 2.33647 14.3854C2.90637 15.681 3.80764 16.8035 4.94949 17.6399C6.20028 18.5202 7.67129 19.0352 9.19802 19.1273C10.6958 19.2195 12.1971 19.0168 13.6168 18.5307C14.1709 18.3529 14.65 18.1674 15.2324 17.8756C15.6876 17.6475 16.0939 17.4141 16.297 17.1289C16.3323 17.0793 16.3241 17.0258 16.3125 16.9737C16.3008 16.9217 16.2659 16.8529 16.2255 16.818C16.2004 16.7913 16.1703 16.7699 16.1368 16.7549C16.1034 16.74 16.0673 16.7318 16.0307 16.7309C15.9941 16.73 15.9576 16.7364 15.9235 16.7496C15.8893 16.7629 15.8582 16.7828 15.8318 16.8082C15.5353 17.0039 15.027 17.225 14.7164 17.3723C14.2188 17.6094 13.5627 17.7995 13.0338 17.9549C11.6888 18.3817 10.2062 18.3737 8.80085 18.2454C7.41623 18.134 6.42263 17.5745 5.30104 16.7549C4.31687 15.9768 3.66808 15.1791 3.19541 14.0169C2.75224 12.9273 2.58106 11.7474 2.69467 10.5789L2.77252 9.88001C2.9204 8.79753 3.26688 7.75024 3.79662 6.79166C4.40202 5.69618 5.23252 4.7413 6.23347 3.98985C6.85203 3.54404 7.51473 3.16292 8.21114 2.85248C8.8755 2.53726 9.58431 2.3259 10.3128 2.2258C12.3273 2.05741 14.3281 2.68106 15.8901 3.96428C17.4832 5.24587 18.455 6.93286 18.9005 8.92829C19.0629 9.70353 19.097 10.426 19.0834 11.2179C19.0797 12.0038 18.9174 12.7087 18.6126 13.433C18.2981 14.0118 17.9359 14.7202 17.5319 15.2404C17.2871 15.5827 17.0401 15.8648 16.7536 16.1744C16.6838 16.2498 16.6426 16.3076 16.6368 16.4102C16.6317 16.5022 16.6667 16.5626 16.7074 16.6353C16.7484 16.7078 16.8165 16.761 16.8968 16.7834C16.977 16.8058 17.0628 16.7956 17.1355 16.7549C18.0898 15.9877 18.8758 15.0321 19.4445 13.9477C19.7962 13.1495 20.0325 12.264 20.0437 11.3918C20.0819 10.5367 20.0054 9.59154 19.8417 8.75134C19.4032 6.55369 18.1844 4.68751 16.457 3.2599C14.7408 1.77944 12.5094 1.03653 10.2482 1.19276Z" fill="currentColor"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4844 19.4525C22.2995 19.0076 22.0054 18.6166 21.6293 18.3154C21.156 17.9477 20.6634 17.6054 20.1537 17.29C19.7337 17.0065 19.3292 16.7007 18.911 16.4265C18.798 16.3545 18.0525 15.8935 17.9297 15.8399C17.5115 15.5658 17.2234 16.1224 17.406 16.274C17.5754 16.3643 18.3092 16.8754 18.4558 16.9992C18.8586 17.2956 19.2926 17.6295 19.6484 17.9343C20.0042 18.2391 20.6308 18.5923 21.0616 18.9903C21.2987 19.2098 21.4781 19.4842 21.584 19.7894C21.6481 20.0586 21.627 20.3411 21.5237 20.5979C21.4204 20.8547 21.24 21.0731 21.0073 21.2231C20.8073 21.4224 20.5554 21.5615 20.2802 21.6248C20.005 21.6881 19.7176 21.6729 19.4507 21.581C19.2189 21.4624 19.0054 21.3113 18.8165 21.1321C18.4974 20.8048 18.2011 20.456 17.9297 20.0881C17.4761 19.5097 17.0225 18.9312 16.639 18.3111C16.4515 18.0245 16.2161 17.6295 16.038 17.3412C15.8599 17.0529 15.4236 17.3256 15.5572 17.6899C15.6907 18.0541 16.0412 18.6031 16.2729 19.0274C16.591 19.5719 16.9293 20.1032 17.2879 20.6211C17.5506 21.0455 17.8441 21.4501 18.1659 21.8317C18.415 22.1122 18.7102 22.3479 19.0389 22.5288C19.4847 22.7144 19.9745 22.7676 20.4497 22.682C20.925 22.5964 21.3655 22.3757 21.7186 22.0463C22.1012 21.7482 22.3808 21.3377 22.5182 20.8725C22.6556 20.4073 22.6437 19.9107 22.4844 19.4525Z" fill="currentColor"/>
              <path d="M17.6078 15.5742C17.7397 15.5487 17.8769 15.5777 18.0096 15.6566L18.2198 15.7716C18.3101 15.8243 18.4195 15.8896 18.5278 15.9553L19.0188 16.2578L19.0211 16.2594C19.2335 16.3986 19.4418 16.5453 19.6476 16.6914C19.8542 16.838 20.0578 16.9838 20.2652 17.1239C20.65 17.3622 21.0246 17.6151 21.3892 17.8831L21.7521 18.1571L21.7545 18.1596C22.1065 18.4415 22.3916 18.7967 22.5898 19.2L22.6691 19.3762L22.6739 19.3862C22.847 19.8838 22.8587 20.4235 22.7095 20.9288C22.562 21.4284 22.2629 21.8692 21.8544 22.1921C21.4732 22.5477 20.9978 22.7868 20.4847 22.8792C19.9718 22.9715 19.4428 22.9141 18.9616 22.7138L18.9519 22.7096L18.9421 22.7045C18.5935 22.5126 18.2802 22.2618 18.016 21.9643L18.0134 21.9608C17.6852 21.5717 17.3852 21.1587 17.1173 20.726C16.7583 20.2069 16.419 19.6736 16.1003 19.128L16.0975 19.1235C15.9818 18.9116 15.8422 18.6777 15.7045 18.4342C15.5715 18.1989 15.4425 17.9575 15.3695 17.7582C15.2691 17.4838 15.3835 17.2305 15.5685 17.1052C15.6599 17.0433 15.7764 17.0077 15.8974 17.0252C16.0237 17.0435 16.1348 17.1173 16.2082 17.2361L16.8066 18.201L16.8094 18.2055C17.0919 18.6623 17.4135 19.0973 17.7486 19.5308L18.0867 19.965L18.0905 19.9693C18.3547 20.3275 18.6428 20.6678 18.9533 20.9868C19.1238 21.1486 19.3173 21.2853 19.5257 21.3938C19.7546 21.4706 20.0002 21.4838 20.2357 21.4297C20.4743 21.3748 20.6931 21.2538 20.8665 21.081L20.8808 21.0665L20.8986 21.0553C21.0964 20.9278 21.2508 20.742 21.3387 20.5236C21.4254 20.308 21.4421 20.071 21.3901 19.8446C21.2945 19.5748 21.1356 19.332 20.9254 19.1374C20.7217 18.9492 20.4684 18.7684 20.213 18.5919C19.9638 18.4198 19.7066 18.2469 19.5186 18.0859C19.1681 17.7856 18.7379 17.4555 18.3369 17.1605L18.3265 17.1524C18.2619 17.0979 18.0505 16.9443 17.8254 16.7882C17.5989 16.6313 17.3841 16.4884 17.312 16.45L17.2936 16.4414L17.2783 16.4283C17.1615 16.3313 17.1411 16.1875 17.1532 16.0807C17.1658 15.9705 17.2148 15.8599 17.2879 15.7707C17.362 15.6803 17.4701 15.6007 17.6078 15.5742ZM17.9297 15.8399C17.5115 15.5658 17.2234 16.1224 17.406 16.274C17.5754 16.3643 18.3092 16.8754 18.4558 16.9992C18.8586 17.2956 19.2926 17.6295 19.6484 17.9343C20.0042 18.2391 20.6308 18.5923 21.0616 18.9903C21.2987 19.2098 21.4781 19.4842 21.584 19.7894C21.6481 20.0586 21.627 20.3411 21.5237 20.5979C21.4204 20.8547 21.24 21.0731 21.0073 21.2231C20.8073 21.4224 20.5554 21.5615 20.2802 21.6248C20.005 21.6881 19.7176 21.6729 19.4507 21.581C19.2189 21.4624 19.0054 21.3113 18.8165 21.1321C18.4974 20.8048 18.2011 20.456 17.9297 20.0881C17.4761 19.5097 17.0225 18.9312 16.639 18.3111C16.4515 18.0245 16.2161 17.6295 16.038 17.3412C15.8599 17.0529 15.4236 17.3256 15.5572 17.6899C15.6907 18.0541 16.0412 18.6031 16.2729 19.0274C16.591 19.5719 16.9293 20.1032 17.2879 20.6211C17.5506 21.0455 17.8441 21.4501 18.1659 21.8317C18.415 22.1122 18.7102 22.3479 19.0389 22.5288C19.4847 22.7144 19.9745 22.7676 20.4497 22.682C20.925 22.5964 21.3655 22.3757 21.7186 22.0463C22.1012 21.7482 22.3808 21.3377 22.5182 20.8725C22.6556 20.4073 22.6437 19.9107 22.4844 19.4525C22.2995 19.0076 22.0054 18.6166 21.6293 18.3154C21.156 17.9477 20.6634 17.6054 20.1537 17.29C19.7337 17.0065 19.3292 16.7007 18.911 16.4265C18.798 16.3545 18.0525 15.8935 17.9297 15.8399Z" fill="currentColor"/>
            </svg>
          </button>
        </form>
      </div>
    </div>

    <nav class="mobile-navigation" id="mobile-navigation" aria-label="Mobile navigation" aria-hidden="true">
      <div class="mobile-navigation-inner">
        <div class="mobile-navigation-header">
          <a href="{{ routes.root_url }}" class="mobile-navigation-logo" aria-label="{{ shop.name }} - Home">
            {% if section.settings.logo %}
              <img src="{{ section.settings.logo | img_url: '120x' }}"
                   alt="{{ shop.name }}"
                   width="120"
                   height="{{ 120 | divided_by: section.settings.logo.aspect_ratio | round }}"
                   loading="eager">
            {% else %}
              <img src="{{ 'logo-petchen.svg' | asset_url }}" width="120" alt="{{ shop.name }}">
            {% endif %}
          </a>

          <button class="mobile-navigation-close button-secondary icon"
                  type="button"
                  aria-label="Close navigation menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18.9451 20L10.7012 11.7561C10.2995 11.3544 10.2995 10.703 10.7012 10.3013C11.103 9.89957 11.7543 9.89957 12.156 10.3013L20.3999 18.5452L28.6438 10.3013C29.0455 9.8996 29.6969 9.8996 30.0986 10.3013C30.5003 10.7031 30.5003 11.3544 30.0986 11.7561L21.8547 20L30.0986 28.2439C30.5004 28.6456 30.5004 29.297 30.0986 29.6987C29.6969 30.1004 29.0455 30.1004 28.6438 29.6987L20.3999 21.4548L12.156 29.6987C11.7543 30.1005 11.1029 30.1005 10.7012 29.6987C10.2995 29.297 10.2995 28.6457 10.7012 28.2439L18.9451 20Z" fill="black"/>
            </svg>
          </button>
        </div>

        <form action="{{ routes.search_url }}" method="get" role="search" class="mobile-search-form">
          <div class="form-group">
            <input type="search"
                   name="q"
                   id="mobile-search-input"
                   class="mobile-search-input"
                   placeholder="Suche..."
                   autocomplete="off"
                   aria-label="Search products">
            <label for="mobile-search-input">Suche...</label>
          </div>
          <button type="submit" class="mobile-search-submit" aria-label="Submit search">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.297 17.1289C16.3323 17.0793 16.3241 17.0258 16.3125 16.9737C16.3008 16.9217 16.2659 16.8529 16.2255 16.818C16.2004 16.7913 16.1703 16.7699 16.1368 16.7549C16.1034 16.74 16.0673 16.7318 16.0307 16.7309C15.9941 16.73 15.9576 16.7364 15.9235 16.7496C15.8893 16.7629 15.8582 16.7828 15.8318 16.8082C15.5353 17.0039 15.027 17.225 14.7164 17.3723C14.2188 17.6094 13.5627 17.7995 13.0338 17.9549C11.6888 18.3817 10.2062 18.3737 8.80085 18.2454C7.41623 18.134 6.42263 17.5745 5.30104 16.7549C4.31687 15.9768 3.66808 15.1791 3.19541 14.0169C2.72274 12.8547 2.55929 11.5899 2.72098 10.3457C2.82463 9.0984 3.19122 7.88714 3.79662 6.79166C4.40202 5.69618 5.23252 4.7413 6.23347 3.98985C6.85203 3.54404 7.51473 3.16292 8.21114 2.85248C8.8755 2.53726 9.58431 2.3259 10.3128 2.2258C12.3273 2.05741 14.3281 2.68106 15.8901 3.96428C17.4832 5.24587 18.455 6.93286 18.9005 8.92829C19.0629 9.70353 19.097 10.426 19.0834 11.2179C19.0797 12.0038 18.9174 12.7087 18.6126 13.433C18.2981 14.0118 17.9359 14.7202 17.5319 15.2404C17.2871 15.5827 17.0401 15.8648 16.7536 16.1744C16.6838 16.2498 16.6426 16.3076 16.6368 16.4102C16.6317 16.5022 16.6667 16.5626 16.7074 16.6353C16.7484 16.7078 16.8165 16.761 16.8968 16.7834C16.977 16.8058 17.0628 16.7956 17.1355 16.7549C18.0898 15.9877 18.8758 15.0321 19.4445 13.9477C19.7962 13.1495 20.0325 12.264 20.0437 11.3918C20.0819 10.5367 20.0054 9.59154 19.8417 8.75134C19.4032 6.55369 18.1844 4.68751 16.457 3.2599C14.7408 1.77944 12.5094 1.03653 10.2482 1.19276C9.39671 1.28252 8.56451 1.50497 7.78181 1.85205C7.01717 2.18833 6.28979 2.60365 5.61154 3.09124C4.48404 3.93593 3.55146 5.01332 2.87711 6.25026C2.20277 7.4872 1.80243 8.85474 1.70328 10.2601C1.54817 11.6669 1.76657 13.0898 2.33647 14.3854C2.90637 15.681 3.80764 16.8035 4.94949 17.6399C6.20028 18.5202 7.67129 19.0352 9.19802 19.1273C10.6958 19.2195 12.1971 19.0168 13.6168 18.5307C14.1709 18.3529 14.65 18.1674 15.2324 17.8756C15.6876 17.6475 16.0939 17.4141 16.297 17.1289Z" fill="currentColor"/>
              <path d="M7.70076 1.66892C8.40239 1.3578 9.14296 1.14468 9.90151 1.03462L10.2276 0.993717L10.2345 0.993179L10.6676 0.974371C12.8298 0.931688 14.938 1.68727 16.5839 3.10555C18.2324 4.4679 19.4311 6.22784 19.9441 8.29513L20.0377 8.7135C20.2037 9.56584 20.2809 10.5236 20.2428 11.3935L20.244 11.3942C20.2323 12.2995 19.987 13.2125 19.6274 14.0289L19.6221 14.0411L19.6209 14.0403C19.0395 15.149 18.2365 16.1264 17.2608 16.9108L17.2482 16.9216L17.2331 16.93C17.1144 16.9963 16.9741 17.0127 16.8432 16.9761C16.7122 16.9395 16.601 16.8524 16.5339 16.7341L16.5327 16.7334C16.4944 16.665 16.4279 16.556 16.4368 16.3986C16.4465 16.2272 16.5251 16.1263 16.6064 16.0384C16.8907 15.7312 17.132 15.4565 17.3696 15.1242L17.3741 15.1172C17.7625 14.6169 18.1119 13.9341 18.4296 13.3491C18.7239 12.6481 18.8799 11.9714 18.8835 11.2172L18.8838 11.2141C18.8972 10.4313 18.8632 9.72575 18.7054 8.97144L18.6173 8.60888C18.1475 6.81193 17.2219 5.29232 15.7652 4.12024L15.7628 4.11876C14.2418 2.86935 12.2939 2.26109 10.3324 2.42428C9.62685 2.52201 8.94071 2.72823 8.29716 3.03356L8.29261 3.03558C7.60882 3.34041 6.95823 3.71461 6.35086 4.15232L6.3497 4.15158C5.37291 4.88563 4.56269 5.81854 3.97163 6.88796C3.37989 7.95872 3.02173 9.1431 2.92041 10.3623L2.91947 10.3715C2.76223 11.5814 2.9211 12.8117 3.38075 13.9419C3.83761 15.065 4.46131 15.835 5.41872 16.5932C6.52866 17.4042 7.48643 17.9387 8.8167 18.0458L8.81882 18.0463C10.2158 18.1738 11.667 18.1791 12.9737 17.7645L12.9773 17.7627C13.5112 17.6058 14.1507 17.4205 14.6308 17.1917L15.1923 16.9281C15.3893 16.8329 15.5812 16.7343 15.7216 16.6416C15.7608 16.6092 15.8038 16.582 15.8513 16.5636C15.9101 16.5407 15.9731 16.5296 16.0362 16.5312C16.0991 16.5328 16.1611 16.5468 16.2185 16.5725C16.2695 16.5953 16.3147 16.6282 16.3548 16.6671L16.3567 16.6667C16.3592 16.6689 16.3609 16.6719 16.3633 16.6742C16.3656 16.6765 16.3685 16.6782 16.3708 16.6805C16.4081 16.7165 16.4356 16.7579 16.4551 16.7937C16.4778 16.8355 16.4972 16.8833 16.5076 16.9301C16.5193 16.9822 16.5509 17.1174 16.46 17.245C16.3383 17.4158 16.1632 17.561 15.9701 17.6898C15.7757 17.8193 15.5518 17.9398 15.3222 18.0548C14.7303 18.3514 14.2416 18.5391 13.6805 18.7192C12.2363 19.2137 10.709 19.4211 9.18536 19.3273C7.62194 19.2328 6.11572 18.7049 4.83482 17.8035L4.83132 17.8013C3.66112 16.9442 2.73702 15.7934 2.15297 14.4656C1.56952 13.139 1.34628 11.6822 1.50448 10.2417C1.60617 8.80925 2.0144 7.41511 2.70178 6.15426C3.38979 4.89237 4.34121 3.79335 5.49144 2.93156L5.49482 2.92881C6.1842 2.43321 6.92358 2.01075 7.70076 1.66892ZM10.2482 1.19276C9.39671 1.28252 8.56451 1.50497 7.78181 1.85205C7.01717 2.18833 6.28979 2.60365 5.61154 3.09124C4.48404 3.93593 3.55146 5.01332 2.87711 6.25026C2.20277 7.4872 1.80243 8.85474 1.70328 10.2601C1.54817 11.6669 1.76657 13.0898 2.33647 14.3854C2.90637 15.681 3.80764 16.8035 4.94949 17.6399C6.20028 18.5202 7.67129 19.0352 9.19802 19.1273C10.6958 19.2195 12.1971 19.0168 13.6168 18.5307C14.1709 18.3529 14.65 18.1674 15.2324 17.8756C15.6876 17.6475 16.0939 17.4141 16.297 17.1289C16.3323 17.0793 16.3241 17.0258 16.3125 16.9737C16.3008 16.9217 16.2659 16.8529 16.2255 16.818C16.2004 16.7913 16.1703 16.7699 16.1368 16.7549C16.1034 16.74 16.0673 16.7318 16.0307 16.7309C15.9941 16.73 15.9576 16.7364 15.9235 16.7496C15.8893 16.7629 15.8582 16.7828 15.8318 16.8082C15.5353 17.0039 15.027 17.225 14.7164 17.3723C14.2188 17.6094 13.5627 17.7995 13.0338 17.9549C11.6888 18.3817 10.2062 18.3737 8.80085 18.2454C7.41623 18.134 6.42263 17.5745 5.30104 16.7549C4.31687 15.9768 3.66808 15.1791 3.19541 14.0169C2.75224 12.9273 2.58106 11.7474 2.69467 10.5789L2.77252 9.88001C2.9204 8.79753 3.26688 7.75024 3.79662 6.79166C4.40202 5.69618 5.23252 4.7413 6.23347 3.98985C6.85203 3.54404 7.51473 3.16292 8.21114 2.85248C8.8755 2.53726 9.58431 2.3259 10.3128 2.2258C12.3273 2.05741 14.3281 2.68106 15.8901 3.96428C17.4832 5.24587 18.455 6.93286 18.9005 8.92829C19.0629 9.70353 19.097 10.426 19.0834 11.2179C19.0797 12.0038 18.9174 12.7087 18.6126 13.433C18.2981 14.0118 17.9359 14.7202 17.5319 15.2404C17.2871 15.5827 17.0401 15.8648 16.7536 16.1744C16.6838 16.2498 16.6426 16.3076 16.6368 16.4102C16.6317 16.5022 16.6667 16.5626 16.7074 16.6353C16.7484 16.7078 16.8165 16.761 16.8968 16.7834C16.977 16.8058 17.0628 16.7956 17.1355 16.7549C18.0898 15.9877 18.8758 15.0321 19.4445 13.9477C19.7962 13.1495 20.0325 12.264 20.0437 11.3918C20.0819 10.5367 20.0054 9.59154 19.8417 8.75134C19.4032 6.55369 18.1844 4.68751 16.457 3.2599C14.7408 1.77944 12.5094 1.03653 10.2482 1.19276Z" fill="currentColor"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4844 19.4525C22.2995 19.0076 22.0054 18.6166 21.6293 18.3154C21.156 17.9477 20.6634 17.6054 20.1537 17.29C19.7337 17.0065 19.3292 16.7007 18.911 16.4265C18.798 16.3545 18.0525 15.8935 17.9297 15.8399C17.5115 15.5658 17.2234 16.1224 17.406 16.274C17.5754 16.3643 18.3092 16.8754 18.4558 16.9992C18.8586 17.2956 19.2926 17.6295 19.6484 17.9343C20.0042 18.2391 20.6308 18.5923 21.0616 18.9903C21.2987 19.2098 21.4781 19.4842 21.584 19.7894C21.6481 20.0586 21.627 20.3411 21.5237 20.5979C21.4204 20.8547 21.24 21.0731 21.0073 21.2231C20.8073 21.4224 20.5554 21.5615 20.2802 21.6248C20.005 21.6881 19.7176 21.6729 19.4507 21.581C19.2189 21.4624 19.0054 21.3113 18.8165 21.1321C18.4974 20.8048 18.2011 20.456 17.9297 20.0881C17.4761 19.5097 17.0225 18.9312 16.639 18.3111C16.4515 18.0245 16.2161 17.6295 16.038 17.3412C15.8599 17.0529 15.4236 17.3256 15.5572 17.6899C15.6907 18.0541 16.0412 18.6031 16.2729 19.0274C16.591 19.5719 16.9293 20.1032 17.2879 20.6211C17.5506 21.0455 17.8441 21.4501 18.1659 21.8317C18.415 22.1122 18.7102 22.3479 19.0389 22.5288C19.4847 22.7144 19.9745 22.7676 20.4497 22.682C20.925 22.5964 21.3655 22.3757 21.7186 22.0463C22.1012 21.7482 22.3808 21.3377 22.5182 20.8725C22.6556 20.4073 22.6437 19.9107 22.4844 19.4525Z" fill="currentColor"/>
              <path d="M17.6078 15.5742C17.7397 15.5487 17.8769 15.5777 18.0096 15.6566L18.2198 15.7716C18.3101 15.8243 18.4195 15.8896 18.5278 15.9553L19.0188 16.2578L19.0211 16.2594C19.2335 16.3986 19.4418 16.5453 19.6476 16.6914C19.8542 16.838 20.0578 16.9838 20.2652 17.1239C20.65 17.3622 21.0246 17.6151 21.3892 17.8831L21.7521 18.1571L21.7545 18.1596C22.1065 18.4415 22.3916 18.7967 22.5898 19.2L22.6691 19.3762L22.6739 19.3862C22.847 19.8838 22.8587 20.4235 22.7095 20.9288C22.562 21.4284 22.2629 21.8692 21.8544 22.1921C21.4732 22.5477 20.9978 22.7868 20.4847 22.8792C19.9718 22.9715 19.4428 22.9141 18.9616 22.7138L18.9519 22.7096L18.9421 22.7045C18.5935 22.5126 18.2802 22.2618 18.016 21.9643L18.0134 21.9608C17.6852 21.5717 17.3852 21.1587 17.1173 20.726C16.7583 20.2069 16.419 19.6736 16.1003 19.128L16.0975 19.1235C15.9818 18.9116 15.8422 18.6777 15.7045 18.4342C15.5715 18.1989 15.4425 17.9575 15.3695 17.7582C15.2691 17.4838 15.3835 17.2305 15.5685 17.1052C15.6599 17.0433 15.7764 17.0077 15.8974 17.0252C16.0237 17.0435 16.1348 17.1173 16.2082 17.2361L16.8066 18.201L16.8094 18.2055C17.0919 18.6623 17.4135 19.0973 17.7486 19.5308L18.0867 19.965L18.0905 19.9693C18.3547 20.3275 18.6428 20.6678 18.9533 20.9868C19.1238 21.1486 19.3173 21.2853 19.5257 21.3938C19.7546 21.4706 20.0002 21.4838 20.2357 21.4297C20.4743 21.3748 20.6931 21.2538 20.8665 21.081L20.8808 21.0665L20.8986 21.0553C21.0964 20.9278 21.2508 20.742 21.3387 20.5236C21.4254 20.308 21.4421 20.071 21.3901 19.8446C21.2945 19.5748 21.1356 19.332 20.9254 19.1374C20.7217 18.9492 20.4684 18.7684 20.213 18.5919C19.9638 18.4198 19.7066 18.2469 19.5186 18.0859C19.1681 17.7856 18.7379 17.4555 18.3369 17.1605L18.3265 17.1524C18.2619 17.0979 18.0505 16.9443 17.8254 16.7882C17.5989 16.6313 17.3841 16.4884 17.312 16.45L17.2936 16.4414L17.2783 16.4283C17.1615 16.3313 17.1411 16.1875 17.1532 16.0807C17.1658 15.9705 17.2148 15.8599 17.2879 15.7707C17.362 15.6803 17.4701 15.6007 17.6078 15.5742ZM17.9297 15.8399C17.5115 15.5658 17.2234 16.1224 17.406 16.274C17.5754 16.3643 18.3092 16.8754 18.4558 16.9992C18.8586 17.2956 19.2926 17.6295 19.6484 17.9343C20.0042 18.2391 20.6308 18.5923 21.0616 18.9903C21.2987 19.2098 21.4781 19.4842 21.584 19.7894C21.6481 20.0586 21.627 20.3411 21.5237 20.5979C21.4204 20.8547 21.24 21.0731 21.0073 21.2231C20.8073 21.4224 20.5554 21.5615 20.2802 21.6248C20.005 21.6881 19.7176 21.6729 19.4507 21.581C19.2189 21.4624 19.0054 21.3113 18.8165 21.1321C18.4974 20.8048 18.2011 20.456 17.9297 20.0881C17.4761 19.5097 17.0225 18.9312 16.639 18.3111C16.4515 18.0245 16.2161 17.6295 16.038 17.3412C15.8599 17.0529 15.4236 17.3256 15.5572 17.6899C15.6907 18.0541 16.0412 18.6031 16.2729 19.0274C16.591 19.5719 16.9293 20.1032 17.2879 20.6211C17.5506 21.0455 17.8441 21.4501 18.1659 21.8317C18.415 22.1122 18.7102 22.3479 19.0389 22.5288C19.4847 22.7144 19.9745 22.7676 20.4497 22.682C20.925 22.5964 21.3655 22.3757 21.7186 22.0463C22.1012 21.7482 22.3808 21.3377 22.5182 20.8725C22.6556 20.4073 22.6437 19.9107 22.4844 19.4525C22.2995 19.0076 22.0054 18.6166 21.6293 18.3154C21.156 17.9477 20.6634 17.6054 20.1537 17.29C19.7337 17.0065 19.3292 16.7007 18.911 16.4265C18.798 16.3545 18.0525 15.8935 17.9297 15.8399Z" fill="currentColor"/>
            </svg>
          </button>
        </form>

        <ul class="mobile-nav-list">
          {% for link in main_menu_linklist %}
            <li class="mobile-nav-item{% if link.links != blank %} has-submenu{% endif %}">
              {% if link.links != blank %}
                <button class="mobile-nav-link mobile-submenu-toggle"
                        type="button"
                        aria-expanded="false"
                        aria-controls="mobile-submenu-{{ link.handle }}">
                  {{ link.title }}
                  <svg xmlns="http://www.w3.org/2000/svg" class="mobile-submenu-icon" height="16" width="16" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.028 10.3969C16.5988 9.84099 16.0945 9.3474 15.5295 8.93022L11.0021 5.19988C10.5352 4.80976 10.0454 4.44778 9.53547 4.11585C9.32143 3.97688 9.0732 3.89965 8.81809 3.89267C8.67434 3.89267 8.53648 3.94977 8.43483 4.05142C8.33319 4.15307 8.27608 4.29093 8.27608 4.43469C8.27608 4.89699 8.27608 4.43469 10.1094 6.22015L14.1904 10.3969C14.3817 10.5882 14.6846 10.8273 14.9556 11.1142C15.2266 11.4012 15.386 11.4809 15.2426 11.4968C15.1389 11.7337 14.993 11.9497 14.8121 12.1345C14.4933 12.5012 14.1267 12.8359 13.8875 13.075C13.251 13.7776 12.5694 14.4379 11.847 15.0518C11.1424 15.675 10.3968 16.2502 9.61518 16.7735L7.36741 18.3677C7.10986 18.5345 6.8833 18.7449 6.69786 18.9894C6.59761 19.1267 6.55336 19.297 6.57409 19.4658C6.59481 19.6345 6.67896 19.7891 6.80945 19.8981C7.31958 20.4082 7.03263 20.0415 10.4282 18.1764C11.3261 17.7075 12.1892 17.1747 13.0107 16.5822C13.8347 15.9808 14.6226 15.3314 15.3701 14.6373C15.9063 14.1515 16.3972 13.6179 16.8367 13.0432C17.1066 12.6855 17.2919 12.2712 17.3788 11.8316C17.432 11.3271 17.308 10.8199 17.028 10.3969Z" fill="#3F593F"/>
                  </svg>
                </button>
                <ul class="mobile-submenu" id="mobile-submenu-{{ link.handle }}" aria-hidden="true">
                  {% for childlink in link.links %}
                    <li class="mobile-submenu-item{% if childlink.links != blank %} has-subsubmenu{% endif %}">
                      {% if childlink.links != blank %}
                        <button class="mobile-subsubmenu-toggle"
                                type="button"
                                aria-expanded="false"
                                aria-controls="mobile-subsubmenu-{{ childlink.handle }}">
                          {{ childlink.title }}
                          <svg xmlns="http://www.w3.org/2000/svg" class="mobile-subsubmenu-icon" height="16" width="16" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.028 10.3969C16.5988 9.84099 16.0945 9.3474 15.5295 8.93022L11.0021 5.19988C10.5352 4.80976 10.0454 4.44778 9.53547 4.11585C9.32143 3.97688 9.0732 3.89965 8.81809 3.89267C8.67434 3.89267 8.53648 3.94977 8.43483 4.05142C8.33319 4.15307 8.27608 4.29093 8.27608 4.43469C8.27608 4.89699 8.27608 4.43469 10.1094 6.22015L14.1904 10.3969C14.3817 10.5882 14.6846 10.8273 14.9556 11.1142C15.2266 11.4012 15.386 11.4809 15.2426 11.4968C15.1389 11.7337 14.993 11.9497 14.8121 12.1345C14.4933 12.5012 14.1267 12.8359 13.8875 13.075C13.251 13.7776 12.5694 14.4379 11.847 15.0518C11.1424 15.675 10.3968 16.2502 9.61518 16.7735L7.36741 18.3677C7.10986 18.5345 6.8833 18.7449 6.69786 18.9894C6.59761 19.1267 6.55336 19.297 6.57409 19.4658C6.59481 19.6345 6.67896 19.7891 6.80945 19.8981C7.31958 20.4082 7.03263 20.0415 10.4282 18.1764C11.3261 17.7075 12.1892 17.1747 13.0107 16.5822C13.8347 15.9808 14.6226 15.3314 15.3701 14.6373C15.9063 14.1515 16.3972 13.6179 16.8367 13.0432C17.1066 12.6855 17.2919 12.2712 17.3788 11.8316C17.432 11.3271 17.308 10.8199 17.028 10.3969Z" fill="#3F593F"/>
                          </svg>
                        </button>
                        <ul class="mobile-subsubmenu" id="mobile-subsubmenu-{{ childlink.handle }}" aria-hidden="true">
                          {% for subchildlink in childlink.links %}
                            <li class="mobile-subsubmenu-item">
                              <a href="{{ subchildlink.url }}" class="mobile-subsubmenu-link">{{ subchildlink.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% else %}
                        <a href="{{ childlink.url }}" class="mobile-submenu-link">{{ childlink.title }}</a>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <a href="{{ link.url }}" class="mobile-nav-link">{{ link.title }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="mobile-nav-footer">
        <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
           class="mobile-nav-footer-link button-tertiary">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5409 1.41866C12.506 1.36616 13.4705 1.53201 14.3627 1.90394H14.3601C14.4555 1.94055 14.5325 2.01369 14.5741 2.10706C14.6158 2.20043 14.6185 2.30653 14.5819 2.40198C14.5453 2.49742 14.4723 2.57435 14.3789 2.61596C14.2856 2.65756 14.1795 2.66043 14.0841 2.62383C13.1936 2.28087 12.2288 2.17734 11.2859 2.32372C10.343 2.4701 9.455 2.86125 8.71046 3.45803C7.96592 4.05481 7.39091 4.83635 7.0428 5.72478C6.69468 6.6132 6.58563 7.57732 6.72655 8.52104C6.91931 9.83777 7.60423 11.0324 8.64315 11.864C9.68206 12.6956 10.9977 13.1024 12.3246 13.0021C13.158 13.0642 13.9948 12.9414 14.7752 12.6427C15.5556 12.3439 16.2604 11.8764 16.8392 11.2737C17.7426 10.0969 18.1652 8.62083 18.0215 7.14425C17.8779 5.66767 17.1786 4.30082 16.0653 3.32026C16.0241 3.28638 15.9901 3.24481 15.965 3.19776C15.9399 3.15071 15.9244 3.09919 15.9192 3.04613C15.9141 2.99307 15.9195 2.93951 15.935 2.88851C15.9505 2.83752 15.976 2.79001 16.0098 2.74885C16.0437 2.70769 16.0854 2.67361 16.1324 2.64855C16.1795 2.62349 16.231 2.60788 16.2841 2.60273C16.3371 2.59758 16.3907 2.60293 16.4417 2.61848C16.4927 2.63402 16.5401 2.65955 16.5813 2.69343C17.7273 3.50892 18.572 4.68005 18.9841 6.02489C19.3963 7.36972 19.3528 8.81297 18.8605 10.1306C18.3681 11.4482 17.4545 12.5663 16.2614 13.3114C15.9958 13.4772 15.7197 13.6226 15.4354 13.7467C15.751 13.8389 16.0636 13.9438 16.3723 14.0615C18.46 14.8575 20.292 16.2063 21.6722 17.9634C22.361 18.825 24.546 22.3283 23.478 22.6069C23.3743 22.6345 23.264 22.6199 23.1711 22.5662C23.0783 22.5125 23.0105 22.4242 22.9827 22.3206C22.1652 20.0756 20.6831 18.1328 18.7339 16.7511C16.7847 15.3694 14.4609 14.6143 12.0718 14.5863C9.68266 14.5582 7.34172 15.2587 5.36065 16.5943C3.37958 17.9299 1.8524 19.8374 0.982451 22.0626C0.945163 22.1584 0.871345 22.2355 0.777246 22.2768C0.683147 22.3182 0.576465 22.3205 0.480677 22.2832C0.38489 22.2459 0.307823 22.1721 0.266458 22.078C0.225093 21.9839 0.222792 21.8773 0.260081 21.7815C0.947859 19.6556 2.20078 17.7568 3.88473 16.2882C5.37306 14.9903 7.14859 14.0716 9.0597 13.6049C8.31904 13.2416 7.65404 12.7384 7.10204 12.1218C6.45733 11.4016 5.9834 10.5453 5.71548 9.61663C5.44757 8.68794 5.39257 7.71073 5.55464 6.75785C5.7167 5.80497 6.09165 4.90095 6.65152 4.11305C7.21139 3.32515 7.94179 2.6737 8.78832 2.2072C9.63485 1.7407 10.5757 1.47116 11.5409 1.41866Z" fill="#2F4027"/>
            <path d="M11.5296 1.21874C12.5247 1.16461 13.5198 1.33622 14.4397 1.71972C14.5815 1.7762 14.695 1.88599 14.7571 2.02538C14.8205 2.16741 14.8244 2.32883 14.7688 2.47363C14.7132 2.61865 14.6021 2.73564 14.4602 2.79882C14.3539 2.84621 14.2365 2.86018 14.1233 2.84081L14.012 2.81054C13.1542 2.4802 12.2249 2.3805 11.3167 2.52148C10.4084 2.66249 9.5525 3.03934 8.83525 3.61425C8.11812 4.18913 7.56411 4.94209 7.2288 5.79785C6.89353 6.65356 6.78844 7.58224 6.92411 8.49121C7.10955 9.75779 7.76853 10.9081 8.76786 11.708C9.76726 12.508 11.0335 12.8992 12.3099 12.8027L12.3245 12.8018L12.3392 12.8027C13.1431 12.8626 13.9506 12.7441 14.7034 12.456C15.4548 12.1683 16.1329 11.7175 16.6907 11.1377C17.5558 10.0035 17.9606 8.58422 17.8226 7.16406C17.6839 5.73799 17.0081 4.41774 15.9329 3.4707C15.8739 3.42095 15.8246 3.35996 15.7884 3.29199C15.7696 3.25671 15.7549 3.21961 15.7435 3.18163L15.72 3.06542C15.7124 2.98622 15.7204 2.90597 15.7435 2.83007C15.7666 2.75401 15.8046 2.68325 15.8548 2.62206C15.9054 2.56061 15.9683 2.50903 16.0384 2.47167C16.1084 2.43441 16.1855 2.41101 16.2649 2.40331C16.344 2.39566 16.4242 2.40356 16.5003 2.42675C16.5721 2.44866 16.6379 2.48524 16.6966 2.53124L16.6976 2.53027C17.8793 3.3712 18.75 4.5791 19.1751 5.96581C19.6002 7.35263 19.5557 8.84145 19.0481 10.2002C18.5403 11.5591 17.5979 12.713 16.3675 13.4814C16.2392 13.5615 16.1077 13.6353 15.9749 13.706C16.132 13.7589 16.2883 13.8158 16.4436 13.875C18.5647 14.6838 20.426 16.0539 21.8284 17.8389L21.9778 18.0342C22.361 18.5564 22.9717 19.5145 23.4134 20.416C23.6647 20.9291 23.8703 21.4413 23.9407 21.8516C23.9756 22.055 23.9813 22.2562 23.9251 22.4258C23.8642 22.6093 23.7324 22.7476 23.5286 22.8008L23.5276 22.7998C23.3733 22.8404 23.2089 22.8192 23.0706 22.7393C22.9371 22.6619 22.8393 22.5362 22.7952 22.3887L22.636 21.9785C21.8068 19.9456 20.4146 18.1873 18.6185 16.9141C16.7025 15.5559 14.418 14.8137 12.0696 14.7861C9.72114 14.7585 7.41934 15.4469 5.47197 16.7598C3.52489 18.0725 2.0244 19.9478 1.16923 22.1348C1.12681 22.2437 1.05278 22.3372 0.958294 22.4033L0.857708 22.46C0.715189 22.5226 0.553595 22.5261 0.408489 22.4697C0.263316 22.4132 0.146017 22.3009 0.083294 22.1582C0.0221955 22.019 0.0182622 21.8621 0.0705987 21.7197C0.769549 19.5595 2.04212 17.63 3.75322 16.1377C5.13805 14.93 6.7678 14.0458 8.52372 13.541C7.93903 13.1961 7.4087 12.7634 6.95341 12.2549C6.28863 11.5123 5.79998 10.6294 5.52372 9.67187C5.24752 8.71438 5.19065 7.70704 5.35771 6.7246C5.52481 5.74206 5.91128 4.80948 6.48857 3.99706C7.06582 3.18475 7.81893 2.51321 8.69169 2.03222C9.56444 1.55127 10.5345 1.27293 11.5296 1.21874ZM11.5409 1.41866C10.5757 1.47116 9.63485 1.7407 8.78832 2.2072C7.94179 2.6737 7.21139 3.32515 6.65152 4.11305C6.09165 4.90095 5.7167 5.80497 5.55464 6.75785C5.39257 7.71073 5.44757 8.68794 5.71548 9.61663C5.9834 10.5453 6.45733 11.4016 7.10204 12.1218C7.65404 12.7384 8.31904 13.2416 9.0597 13.6049C7.14859 14.0716 5.37306 14.9903 3.88473 16.2882C2.20078 17.7568 0.947859 19.6556 0.260081 21.7815C0.222792 21.8773 0.225093 21.9839 0.266458 22.078C0.307823 22.1721 0.38489 22.2459 0.480677 22.2832C0.576465 22.3205 0.683147 22.3182 0.777246 22.2768C0.871345 22.2355 0.945163 22.1584 0.982451 22.0626C1.8524 19.8374 3.37958 17.9299 5.36065 16.5943C7.34172 15.2587 9.68266 14.5582 12.0718 14.5863C14.4609 14.6143 16.7847 15.3694 18.7339 16.7511C20.6831 18.1328 22.1652 20.0756 22.9827 22.3206C23.0105 22.4242 23.0783 22.5125 23.1711 22.5662C23.264 22.6199 23.3743 22.6345 23.478 22.6069C24.546 22.3283 22.361 18.825 21.6722 17.9634C20.292 16.2063 18.46 14.8575 16.3723 14.0615C16.0636 13.9438 15.751 13.8389 15.4354 13.7467C15.7197 13.6226 15.9958 13.4772 16.2614 13.3114C17.4545 12.5663 18.3681 11.4482 18.8605 10.1306C19.3528 8.81297 19.3963 7.36972 18.9841 6.02489C18.572 4.68005 17.7273 3.50892 16.5813 2.69343C16.5401 2.65955 16.4927 2.63402 16.4417 2.61848C16.3907 2.60293 16.3371 2.59758 16.2841 2.60273C16.231 2.60788 16.1795 2.62349 16.1324 2.64855C16.0854 2.67361 16.0437 2.70769 16.0098 2.74885C15.976 2.79001 15.9505 2.83752 15.935 2.88851C15.9195 2.93951 15.9141 2.99307 15.9192 3.04613C15.9244 3.09919 15.9399 3.15071 15.965 3.19776C15.9901 3.24481 16.0241 3.28638 16.0653 3.32026C17.1786 4.30082 17.8779 5.66767 18.0215 7.14425C18.1652 8.62083 17.7426 10.0969 16.8392 11.2737C16.2604 11.8764 15.5556 12.3439 14.7752 12.6427C13.9948 12.9414 13.158 13.0642 12.3246 13.0021C10.9977 13.1024 9.68206 12.6956 8.64315 11.864C7.60423 11.0324 6.91931 9.83777 6.72655 8.52104C6.58563 7.57732 6.69468 6.6132 7.0428 5.72478C7.39091 4.83635 7.96592 4.05481 8.71046 3.45803C9.455 2.86125 10.343 2.4701 11.2859 2.32372C12.2288 2.17734 13.1936 2.28087 14.0841 2.62383C14.1795 2.66043 14.2856 2.65756 14.3789 2.61596C14.4723 2.57435 14.5453 2.49742 14.5819 2.40198C14.6185 2.30653 14.6158 2.20043 14.5741 2.10706C14.5325 2.01369 14.4555 1.94055 14.3601 1.90394H14.3627C13.4705 1.53201 12.506 1.36616 11.5409 1.41866Z" fill="#2F4027"/>
          </svg>
          {% if customer %}My Account{% else %}Login{% endif %}
        </a>
        <a href="{{ routes.account_url }}" class="mobile-nav-footer-link button-tertiary">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12.688 20.3519C12.6219 20.4146 12.5805 20.4989 12.5711 20.5895C12.5618 20.6801 12.5851 20.7711 12.6369 20.8459C12.6888 20.9208 12.7657 20.9747 12.8538 20.9978C12.9419 21.0209 13.0354 21.0118 13.1173 20.972C14.9414 19.7134 17.0019 17.9888 18.5971 16.1913C22.2165 12.1131 24.1209 7.31474 20.2723 4.27717C17.9946 2.45266 14.3098 2.98928 12.0679 7.34187C11.7698 6.7814 11.4836 6.14938 11.4121 6.05398C8.4189 1.62984 3.80397 2.40496 2.31335 5.77971C0.30997 10.2515 3.26735 18.0743 11.0066 20.8886C11.0483 20.9096 11.0939 20.9217 11.1405 20.9241C11.1872 20.9264 11.2338 20.919 11.2773 20.9022C11.3209 20.8854 11.3605 20.8597 11.3935 20.8267C11.4265 20.7936 11.4522 20.7541 11.469 20.7105C11.4857 20.6669 11.4932 20.6203 11.4908 20.5737C11.4884 20.527 11.4763 20.4814 11.4552 20.4398C11.4341 20.3981 11.4045 20.3613 11.3683 20.3318C11.3321 20.3023 11.2902 20.2807 11.2451 20.2685C9.06346 19.4125 7.27502 17.9503 5.91391 16.436C3.19798 13.4143 2.17892 9.70875 3.1004 6.86487C4.12594 3.72862 7.78688 3.02506 10.4104 6.74563C10.5177 6.88872 10.9828 7.93812 11.3405 8.52244C11.889 9.4168 12.533 9.39295 12.9027 8.86826C13.0498 8.61483 13.147 8.3355 13.1889 8.04544C15.0849 4.28909 17.9588 3.8121 19.6402 5.15961C22.8721 7.67417 20.9129 12.0462 17.7129 15.7538C16.1781 17.5321 14.3579 19.1575 12.688 20.3519Z" fill="#2F4027"/>
            <path d="M6.29173 2.7922C8.08601 2.7267 10.0457 3.68254 11.572 5.93381L11.6228 6.01681C11.6414 6.05026 11.661 6.08821 11.6804 6.12619C11.7228 6.2093 11.7761 6.31626 11.8347 6.43576C11.9054 6.57977 11.9884 6.7419 12.073 6.90939C13.1896 4.9071 14.6304 3.74665 16.0984 3.30197C17.6484 2.83246 19.207 3.16823 20.3962 4.12033L20.5769 4.26779C21.4629 5.01421 22.0331 5.86446 22.3327 6.78537C22.6519 7.76612 22.6599 8.81456 22.4304 9.88595C21.9726 12.0234 20.5668 14.2737 18.7468 16.3244C17.1387 18.1364 15.0646 19.8712 13.2302 21.1369L13.2185 21.1457L13.2048 21.1526C13.0799 21.2132 12.9367 21.2269 12.8025 21.1916C12.6684 21.1564 12.5514 21.0741 12.4724 20.9602C12.3935 20.8461 12.3577 20.7075 12.3718 20.5695C12.3861 20.4315 12.4498 20.3028 12.5505 20.2072L12.5603 20.1975L12.571 20.1897C14.2284 19.0042 16.0372 17.3891 17.5613 15.6233C19.1529 13.7792 20.4197 11.7868 20.8943 9.9592C21.131 9.04765 21.1683 8.18594 20.9587 7.40646C20.7499 6.62993 20.2932 5.92128 19.5173 5.3176L19.5154 5.31564C18.7303 4.68645 17.6639 4.47988 16.5622 4.87717C15.4626 5.27387 14.3095 6.28063 13.3796 8.11154C13.3313 8.4135 13.2286 8.70434 13.0749 8.96896L13.071 8.97678L13.0661 8.98361C12.8509 9.28911 12.53 9.47982 12.1599 9.42599C11.8456 9.38013 11.5449 9.164 11.281 8.79513L11.1697 8.62717C10.9853 8.32603 10.7761 7.90897 10.6023 7.55685C10.5145 7.37901 10.4356 7.21862 10.3718 7.09201C10.34 7.02882 10.3129 6.97553 10.2908 6.93478C10.2797 6.91449 10.2699 6.89849 10.2624 6.88595C10.2588 6.87985 10.256 6.87487 10.2536 6.87131C10.2513 6.86765 10.2497 6.86545 10.2497 6.86545L10.2468 6.86154C8.96247 5.04011 7.45178 4.33772 6.17064 4.43381C4.89267 4.52975 3.78154 5.42322 3.28978 6.92599C2.39665 9.68236 3.37836 13.3169 6.06224 16.3029C7.40903 17.8013 9.17338 19.2408 11.3181 20.0822L11.3171 20.0832C11.3815 20.1035 11.4424 20.1342 11.4949 20.177C11.5526 20.2241 11.5998 20.2833 11.6335 20.3498C11.6672 20.4164 11.6864 20.4892 11.6902 20.5637C11.694 20.6383 11.6818 20.7128 11.655 20.7824C11.6283 20.852 11.5875 20.9152 11.5349 20.968C11.4822 21.0207 11.4189 21.0622 11.3493 21.0891C11.2798 21.1159 11.205 21.1279 11.1306 21.1242C11.0639 21.1209 10.999 21.1028 10.9382 21.0754V21.0764C7.01896 19.6512 4.30621 16.9559 2.82786 14.0461C1.35264 11.1423 1.09777 8.00413 2.1306 5.69845C2.90556 3.94464 4.49786 2.85772 6.29173 2.7922ZM11.4118 6.05392C8.41881 1.63013 3.80399 2.40513 2.31322 5.77951L2.2224 5.9924C0.403317 10.4955 3.38854 18.1187 11.0066 20.8889C11.0272 20.8993 11.0488 20.9074 11.071 20.9133L11.1404 20.924C11.1636 20.9252 11.1868 20.9238 11.2097 20.9201L11.2771 20.9026C11.2991 20.8941 11.32 20.8831 11.3396 20.8703L11.3933 20.8274C11.4098 20.8108 11.4246 20.7922 11.4372 20.7727L11.4685 20.7111C11.4768 20.6895 11.4834 20.6666 11.487 20.6438L11.491 20.5735C11.4885 20.527 11.4759 20.4812 11.4548 20.4397C11.4442 20.4188 11.4314 20.3992 11.4167 20.3811L11.3679 20.3322C11.3317 20.3027 11.2899 20.281 11.2449 20.2688C9.19939 19.4663 7.49961 18.1307 6.17357 16.719L5.9138 16.4358C3.19807 13.4142 2.17901 9.70924 3.10033 6.86545C4.12587 3.7292 7.78642 3.02574 10.4099 6.74631C10.5175 6.89019 10.983 7.93863 11.3406 8.52267C11.8891 9.41683 12.5324 9.39296 12.9021 8.86838C13.0492 8.6151 13.1463 8.33599 13.1882 8.04611C15.0843 4.28977 17.959 3.81188 19.6404 5.15939C22.8722 7.67395 20.9127 12.0465 17.7126 15.7541L17.1247 16.4133C15.7255 17.9319 14.1492 19.3067 12.6882 20.3518L12.6433 20.4026C12.6031 20.457 12.5781 20.5219 12.571 20.5901L12.5701 20.6574C12.5751 20.7247 12.5977 20.7898 12.6365 20.8459C12.6883 20.9207 12.7653 20.9751 12.8533 20.9983C12.9414 21.0214 13.035 21.0117 13.1169 20.9719C14.827 19.7919 16.7452 18.2028 18.2927 16.5276L18.5964 16.1916C22.1026 12.241 23.9997 7.61451 20.616 4.5676L20.2722 4.27756C17.9946 2.45308 14.31 2.98964 12.0681 7.34201C11.8446 6.92176 11.6273 6.46133 11.5027 6.21701L11.4118 6.05392Z" fill="#2F4027"/>
          </svg>
          Wishlist
        </a>
      </div>
    </nav>


  </header>


  <div class="header-background-decor">
    <img src="{{ 'decor-header-background.svg' | asset_url }}" alt="" aria-hidden="true">
  </div>

</div>

<script src="{{ 'js-section-header.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Main Navigation Menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo Width",
      "min": 50,
      "max": 300,
      "step": 10,
      "default": 150,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "usp",
      "name": "USP Item",
      "limit": 4,
      "settings": [
        {
          "type": "select",
          "id": "icon_type",
          "label": "Icon Type",
          "options": [
            {
              "value": "stars",
              "label": "5 Stars"
            },
            {
              "value": "checkmark",
              "label": "Checkmark"
            }
          ],
          "default": "checkmark"
        },
        {
          "type": "text",
          "id": "text",
          "label": "USP Text",
          "default": "Free shipping from $50"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header",
      "blocks": [
        {
          "type": "usp",
          "settings": {
            "icon_type": "checkmark",
            "text": "Free shipping from $50"
          }
        },
        {
          "type": "usp",
          "settings": {
            "icon_type": "checkmark",
            "text": "30 days return policy"
          }
        },
        {
          "type": "usp",
          "settings": {
            "icon_type": "checkmark",
            "text": "Secure payment"
          }
        },
        {
          "type": "usp",
          "settings": {
            "icon_type": "stars",
            "text": "Customer service"
          }
        }
      ]
    }
  ]
}
{% endschema %}