{{ 'section-logo-grid.css' | asset_url | stylesheet_tag }}

<div class="section-logo-grid section" aria-labelledby="section-logo-grid-{{ section.id }}">
    <div class="container">
        {% if section.settings.heading != blank %}
            <div class="section-logo-grid__header">
                <h2 id="section-logo-grid-{{ section.id }}" class="section-logo-grid__title">
                    {{ section.settings.heading }}
                </h2>
            </div>
        {% endif %}

        <div class="section-logo-grid__wrapper">
            {% assign logo_count = 0 %}
            {% for i in (1..4) %}
                {% assign logo_setting = 'logo_' | append: i %}
                {% assign logo_alt_setting = 'logo_' | append: i | append: '_alt' %}
                {% assign logo = section.settings[logo_setting] %}
                {% assign logo_alt = section.settings[logo_alt_setting] %}

                {% if logo %}
                    {% assign logo_count = logo_count | plus: 1 %}
                {% endif %}
            {% endfor %}

            <div class="section-logo-grid__grid" data-logo-count="{{ logo_count }}">
                {% for i in (1..4) %}
                    {% assign logo_setting = 'logo_' | append: i %}
                    {% assign logo_alt_setting = 'logo_' | append: i | append: '_alt' %}
                    {% assign logo = section.settings[logo_setting] %}
                    {% assign logo_alt = section.settings[logo_alt_setting] %}

                    {% if logo %}
                        <div class="section-logo-grid__item">
                            <div class="section-logo-grid__logo-wrapper">
                                <img
                                        class="section-logo-grid__logo"
                                        src="{{ logo | image_url: width: 176 }}"
                                        srcset="{{ logo | image_url: width: 88 }} 1x, {{ logo | image_url: width: 176 }} 2x"
                                        alt="{{ logo_alt | escape }}"
                                        width="88"
                                        height="88"
                                        loading="lazy"
                                >
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Logo Grid",
  "tag": "section",
  "class": "section-logo-grid-wrapper",
  "settings": [
    {
      "type": "header",
      "content": "Inhalt"
    },
    {
      "type": "paragraph",
      "content": "Optimale Bildgröße: 90x90px"
    },
    {
      "type": "paragraph",
      "content": "Für eine optimale Performance sollten Bilder nicht größer als 1MB sein. Für eine optimale Verlustfreie Optimierung kann man die Bilder mit dem folgenden Tool optimieren: https://tinypng.com/"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Überschrift"
    },
    {
      "type": "header",
      "content": "Logos"
    },
    {
      "type": "image_picker",
      "id": "logo_1",
      "label": "Logo 1"
    },
    {
      "type": "text",
      "id": "logo_1_alt",
      "label": "Logo 1 Alt-Text",
      "info": "Beschreibung für Barrierefreiheit"
    },
    {
      "type": "image_picker",
      "id": "logo_2",
      "label": "Logo 2"
    },
    {
      "type": "text",
      "id": "logo_2_alt",
      "label": "Logo 2 Alt-Text",
      "info": "Beschreibung für Barrierefreiheit"
    },
    {
      "type": "image_picker",
      "id": "logo_3",
      "label": "Logo 3"
    },
    {
      "type": "text",
      "id": "logo_3_alt",
      "label": "Logo 3 Alt-Text",
      "info": "Beschreibung für Barrierefreiheit"
    },
    {
      "type": "image_picker",
      "id": "logo_4",
      "label": "Logo 4"
    },
    {
      "type": "text",
      "id": "logo_4_alt",
      "label": "Logo 4 Alt-Text",
      "info": "Beschreibung für Barrierefreiheit"
    },
  ],
  "presets": [
    {
      "name": "Logo Raster",
      "category": "Bild + Inhalt"
    }
  ]
}
{% endschema %}