{{ 'section-cta.css' | asset_url | stylesheet_tag }}

{% assign background_classes = '' %}
{% case section.settings.background_color %}
  {% when 'green' %}
    {% assign background_classes = ' background-one background-contrast' %}
  {% when 'dark_green' %}
    {% assign background_classes = ' background-two background-contrast' %}
  {% else %}
    {% assign background_classes = '' %}
{% endcase %}

{% assign decoration_class = '' %}
{% if section.settings.show_decoration %}
  {% assign decoration_class = ' section-cta--with-decoration' %}
{% endif %}

<section class="section-cta section{{ background_classes }}{{ decoration_class }}" aria-labelledby="section-cta-{{ section.id }}">
  <div class="container">
    <div class="section-cta__wrapper">
      <div class="section-cta__content">

          <h2 id="section-cta-text-{{ section.id }}" class="section-cta-text__title">
            {{ section.settings.heading | default: 'Überschrift' }}
          </h2>

          {% if section.settings.content != blank %}
            <div class="section-cta-text__richtext">
              {{ section.settings.content }}
            </div>
          {% endif %}

          {% if section.settings.button_text != blank %}
            <div class="section-cta-text__action">
              {% render 'button',
                      button_text: section.settings.button_text,
                      button_url: section.settings.button_link,
                      button_type: section.settings.button_type,
                      icon_position: section.settings.icon_position
              %}
            </div>
          {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Text mit Call to Action",
  "tag": "section",
  "class": "section-cta-wrapper",
  "settings": [
    {
      "type": "header",
      "content": "Inhalt"
    },
    {
      "type": "header",
      "content": "Design"
    },
    {
      "type": "select",
      "id": "background_color",
      "label": "Hintergrundfarbe",
      "options": [
        { "value": "default", "label": "Standard" },
        { "value": "green", "label": "Grün" },
        { "value": "dark_green", "label": "Dunkelgrün" }
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "show_decoration",
      "label": "Hintergrunddekoration anzeigen",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Text mit Call to Action",
      "category": "Text"
    }
  ]
}
{% endschema %}