{{ 'section-cta.css' | asset_url | stylesheet_tag }}

{% assign background_classes = '' %}
<div class="section-cta section background-two background-contrast" aria-labelledby="section-cta-{{ section.id }}">
  <div class="section-cta__decorations">
    <div class="section-cta__decoration section-cta__decoration--cloud-one section-cta__decoration--desktop">
      <img src="{{ 'illustration-cloud-one.svg' | asset_url }}" alt="" role="presentation">
    </div>
    <div class="section-cta__decoration section-cta__decoration--cloud-one section-cta__decoration--mobile">
      <img src="{{ 'illustration-mobile-cloud-one.svg' | asset_url }}" alt="" role="presentation">
    </div>
    <div class="section-cta__decoration section-cta__decoration--cloud-two section-cta__decoration--desktop">
      <img src="{{ 'illustration-cloud-two.svg' | asset_url }}" alt="" role="presentation">
    </div>
    <div class="section-cta__decoration section-cta__decoration--cloud-two section-cta__decoration--mobile">
      <img src="{{ 'illustration-mobile-cloud-two.svg' | asset_url }}" alt="" role="presentation">
    </div>
    <div class="section-cta__decoration section-cta__decoration--cloud-three section-cta__decoration--desktop">
      <img src="{{ 'illustration-cloud-three.svg' | asset_url }}" alt="" role="presentation">
    </div>
    <div class="section-cta__decoration section-cta__decoration--cloud-three section-cta__decoration--mobile">
      <img src="{{ 'illustration-mobile-cloud-three.svg' | asset_url }}" alt="" role="presentation">
    </div>
    <div class="section-cta__decoration section-cta__decoration--cloud-four">
      <img src="{{ 'illustration-cloud-four.svg' | asset_url }}" alt="" role="presentation">
    </div>
    <div class="section-cta__decoration section-cta__decoration--dog">
      <img src="{{ 'illustration-dog.svg' | asset_url }}" alt="" role="presentation">
    </div>
  </div>

  <div class="container">
    <div class="section-cta__wrapper">
      <div class="section-cta__content">
        <h2 id="section-cta-{{ section.id }}" class="section-cta__title">
          {{ section.settings.heading | default: 'Ãœberschrift' }}
        </h2>

        {% if section.settings.content != blank %}
          <div class="section-cta__richtext">
            {{ section.settings.content }}
          </div>
        {% endif %}

        {% if section.settings.button_text != blank %}
          <div class="section-cta__action">
            {% render 'button',
                    button_text: section.settings.button_text,
                    button_url: section.settings.button_link,
                    button_type: section.settings.button_type,
                    icon_position: section.settings.icon_position
            %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Call to Action",
  "tag": "section",
  "class": "section-cta-wrapper",
  "settings": [
    {
      "type": "header",
      "content": "Inhalt"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Überschrift",
      "default": "Lorem ipsum dolor sit amet consetetur sit amet sadipscin"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Inhalt",
      "default": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button Type",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        },
        {
          "value": "tertiary",
          "label": "Tertiary"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "icon_position",
      "label": "Icon Position",
      "options": [
        {
          "value": "none",
          "label": "No Icon"
        },
        {
          "value": "left",
          "label": "Icon Left"
        },
        {
          "value": "right",
          "label": "Icon Right"
        }
      ],
      "default": "right"
    }
  ],
  "presets": [
    {
      "name": "Call to Action",
      "category": "Inhalt"
    }
  ]
}
{% endschema %}