{% comment %}<h1>{{ section.settings.title }}</h1>{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}{% for collection in collections %}{% endcomment %}
  {% comment %}{% if collection.all_products_count > 0 %}{% endcomment %}
    {% comment %}<a href="{{ collection.url }}">{% endcomment %}
      {% comment %}{% if collection.featured_image != blank %}{% endcomment %}
        {% comment %}{% assign collection_image = collection.featured_image %}{% endcomment %}
      {% comment %}{% else %}{% endcomment %}
        {% comment %}{% assign collection_image = collection.products.first.image %}{% endcomment %}
      {% comment %}{% endif %}{% endcomment %}
      {% comment %}<img src="{{ collection_image | img_url: 'medium' }}" alt="{{ collection.title | escape }}">{% endcomment %}
    {% comment %}</a>{% endcomment %}
    {% comment %}{{ collection.title }}    {% endcomment %}
  {% comment %}{% endif %}{% endcomment %}
{% comment %}{% endfor %}{% endcomment %}


{% schema %}
{
  "name": "Template List Collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "Title"
    }
  ]
}
{% endschema %}