{% comment %}<div>{% endcomment %}
  {% comment %}{% paginate blog.articles by section.settings.number_of_blog_posts %}{% endcomment %}
    {% comment %}<h1>{{ blog.title }}</h1>{% endcomment %}
    {% comment %}{% for article in blog.articles %}{% endcomment %}
      {% comment %}<div>{% endcomment %}
        {% comment %}{% if article.image %}{% endcomment %}
          {% comment %}<a href="{{ article.url }}"><img src="{{ article.image | img_url: 'medium' }}" alt="{{ article.image.alt }}"></a>{% endcomment %}
        {% comment %}{% else %}{% endcomment %}
          {% comment %}{{ 'image' | placeholder_svg_tag: '' }}{% endcomment %}
        {% comment %}{% endif %}{% endcomment %}
{% comment %}{% endcomment %}
        {% comment %}<div>{% endcomment %}
          {% comment %}<h1>{{ article.title }}</h1>{% endcomment %}
          {% comment %}{% if article.excerpt.size > 0 %}{% endcomment %}
            {% comment %}<p>{{ article.excerpt | strip_html | truncatewords: 15 }}</p>{% endcomment %}
          {% comment %}{% else %}{% endcomment %}
            {% comment %}<p>{{ article.content | strip_html | truncatewords: 15 }}</p>{% endcomment %}
          {% comment %}{% endif %}{% endcomment %}
          {% comment %}<a href="{{ article.url }}">{{ section.settings.blog_read_more }}</a>{% endcomment %}
        {% comment %}</div>{% endcomment %}
      {% comment %}</div>{% endcomment %}
    {% comment %}{% endfor %}{% endcomment %}
      {% comment %}{% endcomment %}
    {% comment %}{% render 'pagination', pagination: paginate %}{% endcomment %}
    {% comment %}{% endcomment %}
  {% comment %}{% endpaginate %}{% endcomment %}
{% comment %}</div>{% endcomment %}


{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "text",
      "id": "blog_read_more",
      "label": "Read more label",
      "default": "Read more"
    },
    {
      "type": "range",
      "id": "number_of_blog_posts",
      "step": 1,
      "min": 1,
      "max": 6,
      "label": "Blog posts per page",
      "default": 3
    }
  ]
}
{% endschema %}